<div id="content">
    <div class="container animated fadeIn animation-delay-7">
        <h3 class="title-divider">
            <span>{{ 'ConfirmEmail' | translate }}</span>
        </h3>
        <div class="row">
            <div class="col-md-12">
                <p>حساب کاربری شما با موفقیت فعال گردید</p>
                <div class="row">
                    <div class="col-lg-8">
                        <span class="ml-1 hidden-xs">
                        </span>
                    </div>
                    <div class="col-lg-4">
                        <a ui-sref="Login" class="btn btn-primary btn-raised btn-block animate-icon">
                            ورود به حساب کاربری
                            <i class="mr-1 no-ml zmdi zmdi-long-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
