<update-title title="{{'Error' | translate}}"></update-title>
<update-meta property="og:title" content="{{'Error' | translate}}"></update-meta>
<update-meta name="description" content="{{'HeaderTitle'| translate}}-{{'Error' | translate}}"></update-meta>
<update-meta itemprop="description" content="{{'HeaderTitle'| translate}}-{{'Error' | translate}}"></update-meta>
<update-meta name="keywords" content="{{'HeaderTitle'| translate}},{{'Error' | translate}}"></update-meta>
<update-script content="structuredData" type="application/ld+json"></update-script>
<div id="content">
    <div class="container  animated fadeIn animation-delay-7">
        <h3 class="title-divider">
            <span>{{ 'ErrortTitle' | translate }}</span>
        </h3>
        <div class="text-center">
            <h1 class="color-primary">{{ 'ErrortTitle' | translate }}</h1>
            <p class="lead lead-sm">
                {{ 'ErrortTitle' | translate }}.
            </p>
            <a ui-sref="Home" class="btn btn-primary btn-raised">
                <i class="zmdi zmdi-home"></i>{{ 'MenuHome' | translate }}
            </a>
        </div>
    </div>
</div>