@using AVA.UI.Helpers.Controller;
@using AVA.Web.Mvc.Areas.Admin.Models.Base;
@{
    string ModuleName = "DynamicPage";
}
<input type="hidden" id="forgeryToken" value="@ControllerHelper.GetAntiForgeryToken()" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'DynamicPageManagement' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="Home">{{ 'Home' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'DynamicPageManagement' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="MyGridController">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-12 btn-rows">
                                <a class="btn btn-default" ui-sref="DynamicPage"><i class="fa fa-plus"></i>{{  'Add' | translate }}</a>
                                <button class="btn btn-info" type="button" ng-click="EditAction('DynamicPage')"><i class="fa fa-paste"></i> ویرایش</button>
                                <button class="btn btn-danger" type="button" ng-click="DeleteAction('/Admin/PublicAdmin/DeleteDynamicPage','@ViewBag.GridID')"><i class="fa fa-remove"></i>{{  'Delete' | translate }}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <script>
                                var selectedIDs;
                                function OnBeginCallback(s, e) {
                                    //Pass all selected keys to GridView callback action
                                    e.customArgs["selectedIDs"] = selectedIDs;
                                }
                                function OnSelectionChanged(s, e) {
                                    s.GetSelectedFieldValues("ID", GetSelectedFieldValuesCallback);
                                }
                                function GetSelectedFieldValuesCallback(values) {
                                    //Capture all selected keys
                                    selectedIDs = values.join(',');
                                }
                            </script>
                            @Html.Action("GetDynamicPageGridPartial")
                            @Html.Partial("GridViewExportPartial", new GridViewExportViewModel() { ModuleName = "PublicAdmin", ActionName= "ExportDynamicPagetTo" })
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
