<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mx-auto">
                    <h3 class="error-code font-xs-x7 font-md-x6">
                        <i class="fa fa-file-text text-primary font-xs-x6 font-md-x8"></i>404
                    </h3>
                    <h2 class="text-center error-message font-xs-x2 font-md-x2 mt-2">
                        شما اجازه دسترسی به این صفحه را ندارید
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>