@Html.Action("DynamicPage", "Home", new { id = 24 })
@*@<div id="content  animated fadeIn animation-delay-7">
        <div class="container">
            <div class="col-lg-12 order-lg-2">
                <h3 class="title-divider">
                    <span>برنامه سالیانه</span>
                </h3>
                <div class="alert alert-info" role="alert">
                    <p>
                        <i class="ion-alert icon-1x"></i> برنامه سالانه انجمن بلور شناسي و کانی شناسی ایران 1390-1391

                    </p>

                    <hr />
                    <p>
                        در تاريخ 1390/6/90 و پس از معرفي اعضاي هيات مديره جديد در مجمع عمومي خود سخنگوي هيات مديره قبلي جناب آقاي دکتر کوهساري برنامه سال آتي انجمن را اعلام و پس از بحث و گفتگو در خصوص آن به تاييد کليه حاضرين در جلسه رسيد که به شرح ذيل مي باشد.
                    </p>
                    <a class="mb-1 btn btn-light " >دانلود فایل PDF</a>
                </div>
                <table class="table">
                    <thead class="thead-default">
                        <tr>
                            <th>عنوان</th>
                            <th>فعاليت به تاييد رسيده</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h4>
                                    1.همايش
                                </h4>
                            </td>
                            <td>بيستمين همايش انجمن بلور شناسي و کاني شناسي ايران در سال 1391 توسط دانشگاه شهيد  چمران اهواز و با معرفي جناب آقاي دکتر مرتضي زرگر شوشتري به عنوان دبير همايش</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>
                                    2.مجله  و خبر نامه
                                </h4>
                            </td>
                            <td>مقرر گرديد همانند سال قبل مجله انجمن در چهار شماره در سال 1391 به چاپ رسيده که همانند سالهاي قبل جناب آقاي دکتر ناصر تجبر به عنوان مدير مسئول و سردبير فعاليت مينمايند. </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>
                                    3.کارگاه هاي آموزشي
                                </h4>
                            </td>
                            <td>مقرر گرديد علاوه بر کارکاههاي آموزشي که در مراکز دانشگاههاي تربيت معلم تهران، فردوسي مشهد، بوعلي همدان، شهيد چمران اهواز، يزد، باهنر کرمان و بيرجند با نام انجمن برگزار ميشود در زمان بيستمين همايش انجمن و در همان مکان کارگاههاي آموزشي انجمن همانند سالهاي قبل برگزار گردد.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>
                                    4.سخنراني
                                </h4>
                            </td>
                            <td>مقرر گرديد مسئولين کميتهها با معرفي افراد و عنوان سخنراني و همچنين زمان و مکان آن به رئيس انجمن اجازه سخنراني علمي با نام انجمن را دريافت و اقدام به برگزاري آن نمايند.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>5.جلسه هيات مديره</h4>
                            </td>
                            <td>مقرر گرديد در هر سال حداقل چهار جلسه با حضور اکثريت اعضاي هيات مديره و مدير اجرايي انجمن و همچنين مسئولين کميتههاي انجمن با هماهنگي رئيس انجمن برگزار گردد.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>
                                    6.ارائه گزارشات مسئولین کمیته های انجمن
                                </h4>
                            </td>
                            <td>مقرر گرديد مسئولين کميتههاي انجمن نسبت به هماهنگيهاي لازم با مدير اجرايي انجمن تماس گرفته و کليه گزارشات خود را در جلسات هيات مديره ارائه نمايند.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>@*@