@Html.Action("DynamicPage", "Home", new { id = 27 })
@*@<div id="content">
        <div class="container">
                <h3 class="title-divider">
                    <span>اصول نگارش مقاله</span>
                </h3>
                <div class="alert alert-info" role="alert">
                    <p>
                        <i class="ion-alert icon-1x  pl-1"></i>راهنماي‌ تنظيم‌ مقاله‌ براي‌ چاپ‌ در مجله‌ بلورشناسي‌ و كاني‌شناسي‌ ايران‌

                    </p>

                    <hr />
                    <p>
                        از اساتيد و پژوهشگران‌ گرامي‌ كه‌ براي‌ مجلة‌ بلورشناسي‌ و كاني‌شناسي‌ ايران‌ مقاله‌ ارسال ‌مي‌دارند درخواست‌ مي‌نمايد در تنظيم‌ و تدوين‌ مقالات‌ به‌ نكات‌ ضروري زير توجه‌ فرمايند.
                    </p>
                </div>
                <table class="table">
                    <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>موارد</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h4>
                                    1.
                                </h4>
                            </td>
                            <td>
                                توصيه مي شود محققين محترم تا حد امکان در متن مقاله خود به مقالاتي که در شماره هاي گذشته مجله بلورشناسي و کاني شناسي ايران چاپ شده است استناد نمايند. بديهي است اين امر مي تواند در بالا بردن امتياز مجله در بين مجلات نمايه شده در ISC موثر باشد.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>
                                    2.
                                </h4>
                            </td>
                            <td>
                                <p>مقالات‌ ارائه‌ شده‌ داراي‌ بخش هاي‌ زير باشد:</p>
                                <p>
                                    ●عنوان
                                    ●چكيده
                                    ●مقدمه
                                    ●روش مطالعه
                                    ●بحث و بررسي
                                    ● برداشت
                                    ●قدرداني
                                    ●مراجع
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>
                                    3.
                                </h4>
                            </td>
                            <td>مقاله با نرم افزار Word-xp تايپ شود. (نوع و اندازة قلم ها در ادامه تعريف شده اند)</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>
                                    4.
                                </h4>
                            </td>
                            <td>در صفحة‌ عنوان‌، نام‌ نويسنده‌ (يا نويسندگان‌ به‌ترتيب‌ مورد نظر و مشخص کردن نويسنده مسئول با علامت *)، نام‌ و نشاني‌ مؤسسه‌اي‌ كه‌ كار در آن ‌انجام‌ شده‌، شمارة‌ تلفن‌، فاكس‌، پست‌ الكترونيك،‌ و تاريخ‌ تنظيم‌ مقاله، مشخص شود.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>5.</h4>
                            </td>
                            <td>چكيدة‌ مقاله‌ به‌ هر دو زبان‌ فارسي‌ و انگليسي‌ و حداكثر در 150 كلمه‌ نوشته‌ و چكيدة‌ انگليسي‌ روي ‌صفحه‌اي‌ جداگانه‌ باشد.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>
                                    6.
                                </h4>
                            </td>
                            <td>براي‌ معرفي‌ سريع‌ مقاله‌ چند واژه‌ كليدي (s‌Keyword) در ارتباط‌ با متن‌ مقاله‌ در زير چكيده ها نوشته‌ شود.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>7.</h4>
                            </td>
                            <td>در متن‌ مقاله،‌ مراجع‌ به‌ ترتيب‌ با شماره‌ 1 تا ... داخل‌ دو بند، مثل [5]، مشخص‌ شوند.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>8.</h4>
                            </td>
                            <td>
                                <p>فهرست‌ مراجع‌ فارسي‌ يا لاتين‌ مثل‌ نمونه‌هاي‌ زيرنوشته‌ شوند: </p>
                                <p>[1] كريم پور م.ح.، زاو خ.، "دماسنجي و شرايط فيزيكوشيميايي محلول كانه دار بر مبناي كلريت و سيالات درگير در معدن مس قلعه زري"، مجله بلورشناسي و كاني شناسي ايران، شماره 1 (1385) ص 1-26. </p>
                                <p class="text-left" data-css='{"direction":"ltr"}'><span>[2]</span> Mohajjel M., Fergusson C. L., Sahandi M. R., "Cretaceous–Tertiary convergence and continental collision, Sanandaj–Sirjan Zone, western Iran", Journal of Asian Earth Sciences 21 (2003) 397–412.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>9.</h4>
                            </td>
                            <td>توصيه‌ مي‌شود هنگام‌ تنظيم‌ مقاله‌ از يكي‌ از واژگان‌ منتشر شده‌ از طرف‌ مركز نشر دانشگاهي استفاده‌ و از به‌كار بردن‌ كلمات‌ لاتين‌ كه‌ هم ‌ارز فارسي‌ دارند خودداري‌ شود. در مواردي‌ كه‌ واژة‌ لاتين‌ با املاي‌ فارسي‌ نوشته‌ مي‌شود عين‌ كلمه‌ لاتين‌ در زير همان‌ صفحه‌ با قيد شماره‌ نوشته ‌شود. تمام رقم ها در متن و جدول-هاي مقالات فارسي بايستي فارسي باشد.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>10.</h4>
                            </td>
                            <td>جدول ها بر كاغذ جداگانه‌ نوشته‌ و شماره گذاري‌ شود و در متن‌ مقاله‌ فقط‌ به‌ شمارة‌ جدول‌ اشاره ‌شود. پهناي‌ جدول‌ از cm 15 بيشتر نباشد. </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>11.</h4>
                            </td>
                            <td>اصل‌ عكس ها و نمودارها به‌ صورت‌ قابل‌ چاپ‌ در صفحة‌ جدا از متن‌ باشند. پهناي‌ شکل ها از cm 15 بيشتر نباشد. </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>12.</h4>
                            </td>
                            <td>در زير نويس شکل ها به ترتيب از حروف الفباي فارسي استفاده شود به عنوان مثال: شکل 1- الف- ب- پ- ت- ث.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>13.</h4>
                            </td>
                            <td>توضيح‌ هر‌ شكل در زير آن و توضيح‌ جدول‌ بالاي‌ آن‌ نوشته‌ شود.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>14.</h4>
                            </td>
                            <td>تعداد صفحات مقاله حداكثر 18 صفحه 4A شامل شكل ها و جدول ها باشد.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>15.</h4>
                            </td>
                            <td>مقاله آماده شده را از طريق سايت مجله www.ijcm.ir ارسال فرمائيد.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>16.</h4>
                            </td>
                            <td>هر مقاله‌ پس‌ از تأييد مشاوران‌ و هيأت‌ تحريريه‌، توسط‌ ويراستار مجله‌ ويرايش‌ و تصوير نسخة ‌آماده‌ چاپ‌ هر مقاله‌ براي‌ اظهار نظر نهايي‌ به‌ آدرس‌ نويسنده‌ مقاله‌ ارسال‌ مي‌شود.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>17.</h4>
                            </td>
                            <td>تعداد 3 نسخه‌ از مقاله‌ چاپ‌ شده‌ به صورت رايگان‌ براي‌ نويسنده‌ ارسال خواهد شد.</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>18.</h4>
                            </td>
                            <td>
                                <p>هنگام تايپ مقاله براي چاپ در مجله بلورشناسي و كاني‌شناسي ايران از قلم هاي زير استفاده فرمائيد.</p>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>قلم انگلیسی</th>
                                            <th>قلم فارسي</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">سر صفحة</th>
                                            <td>Time Med. 9</td>
                                            <td>نازنين 12</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">عنوان مقاله</th>
                                            <td>Time Bold 14</td>
                                            <td>نازنين سياه</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">اسم نويسنده</th>
                                            <td>Time Bold 11</td>
                                            <td>نازنين سياه</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">آدرس نويسنده و پست</th>
                                            <td>Time Italic 10</td>
                                            <td>نازنين</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">تاريخ تنظيم</th>
                                            <td>Time Med. 10</td>
                                            <td>نازنين 11</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>@*@