@Html.Action("DynamicPage", "Home", new { id = 41 })
@*<div id="content" class="animated fadeIn animation-delay-7">
    <div class="container">
        <h3 class="title-divider">
            <span>راهنمای داوری مقالات</span>
        </h3>
        <div class="alert alert-primary">
            <h4 class="alert-heading">داوران گرامی!</h4>
            <hr>
            <p> جهت تسریع فرآیند داوری، سیستم داوری اعم از مشاهده مقالات کاربران، امکان بررسی مقاله در هر زمان و ثبت نظرات داوران ،بصورت برخط (online) طراحی شده است. مراحل عمومی این فرآیند برای داوران به شرح زیر است:</p>
        </div>
        <div class="pb-4">
            <ul class="nav nav-steps flex-column flex-lg-row justify-content-lg-around">
                <li class="nav-item col-lg-2 col-md-12">
                    <a data-target="#tab-steps1" class="nav-link active" data-toggle="tab"><h4 class="font-weight-bold d-block">گام 1:</h4> ثبت نام در سامانه </a>
                </li>
                <li class="nav-item col-lg-2 col-md-12">
                    <a data-target="#tab-steps2" class="nav-link" data-toggle="tab"><h4 class="font-weight-bold d-block">گام 2:</h4>ورود به پایگاه</a>
                </li>
                <li class="nav-item col-lg-3 col-md-12">
                    <a data-target="#tab-steps3" class="nav-link" data-toggle="tab"><h4 class="font-weight-bold d-block">گام 3:</h4>دریافت مقالات جهت داوری</a>
                </li>
                <li class="nav-item col-lg-2 col-md-12">
                    <a data-target="#tab-steps4" class="nav-link" data-toggle="tab"><h4 class="font-weight-bold d-block">گام 4:</h4>ثبت نظر داوری</a>
                </li>
            </ul>
            <div class="tab-content text-center px-2 ">
                <div class="tab-pane fade show active" id="tab-steps1">
                    <h3>
                        ثبت نام در سامانه
                    </h3>
                    <p>برای این‌که بتوانید به عنوان یک داور در برنامه حضور یابید، نخست باید به عنوان یک کاربر در پایگاه ثبت نام کنید. از آنجایی که این مرحله توسط مدیر پایگاه انجام می‌شود پس جهت ثبت حساب کاربری با مدیریت انجمن تماس حاصل فرمایید.</p>
                    <a ui-sref="ContactUs" class="btn btn-lg btn-outline-primary" href="#/ContactUs">تماس با ما</a>
                </div>
                <div class="tab-pane fade" id="tab-steps2">
                    <h3>
                        ورود به پایگاه
                    </h3>
                    <p>برای ورود به بخش داوری و مشاهده فهرست مقالات تعیین شده برای داوری می‌توانید از نوار راهبری بالای صفحات یا لینک زیر استفاده کنید. پس از وارد کردن نام کاربری و گذرواژه شما به حساب کاربری خود وارد شوید.</p>
                    <a ui-sref="" class="btn btn-lg btn-outline-primary" href="#/">ورود به سامانه داوری</a>
                </div>
                <div class="tab-pane fade" id="tab-steps3">
                    <h3>
                        دریافت مقالات جهت داوری
                    </h3>
                    <p>پس از ورود به حساب کاربری، لیست مقالات معرفی شده جهت داوری در دسترس شما قرار می گیرد. شما می توانید پس از دریافت هر مقاله جزئیات آن را مشاهده کنید.</p>
                    <a ui-sref="" class="btn btn-lg btn-outline-primary" href="#/">ورود به سامانه داوری</a>
                </div>
                <div class="tab-pane fade" id="tab-steps4">
                    <h3>
                        ثبت نظر داوری
                    </h3>
                    <p class="fu">جهت تکمیل فرآیند داوری با درج نظرات تاییده خود در فرم مربوطه، نویسندگان مقاله را از نتیجه داوری خود مطلع کنید. </p>
                    <a ui-sref="" class="btn btn-lg btn-outline-primary" href="#/">ورود به سامانه داوری</a>
                </div>
            </div>
        </div>
    </div>
</div>*@







