@Html.Action("DynamicPage", "Home", new { id = 26 })
@*@<div id="content">
        <div class="container">
            <h3 class="title-divider">
                <span>تاریخچه کانی شناسی</span>
            </h3>
            <h5>مقدمه</h5>
            <p>
                گرچه رديابي سيستماتيک تاريخ رخدادها و گسترش علم بلورشناسي بسيار مشکل به نظر مي رسد، با وجود اين مي توان با گذري کوتاه بر گذشته بلورشناسي، به گزيده اي از نکات برجسته آن اشاره کرد. اهميت اين علم و کاربرد آن در رشته هاي مختلف، نگارنده را بر آن داشت که رويدادهاي مهم بلورشناسي را تهيه و در اختيار علاقه مندان اين علم قرار دهد.

            </p>
            <p>
                بلورها با شکل هاي ظاهري جالب خود همواره مورد توجه بوده اند، ولي اين که تا چه حد به طور جدي مورد مطالعه قرار گرفته اند شايسته بررسي است. حدس زده مي شود که برخي از قواعد افلاطوني مربوط به مواد جامد از بررسي شکل بلورها الهام گرفته شده باشد. شايد بتوان گفت که اين بلورها بودند که ارشميدس را به مطالعة قواعد حاکم بر مواد جامد برانگيخت. از طرف ديگر تصور مي شود که هندسة طبيعي بلورهاي چند وجهي و تقارن آن ها تا حدي در خلق معماري تجلي يافته و تنديس هاي بي شمار، دست ساخته هاي بدلي و تزئيني از بلورها شکل گرفته باشند و اگر اين ادعاها درست پنداشته شوند، آنگاه مي توان بلورها را منشأ الهام در علم هندسه دانست.
            </p>
            <p>

                تاريخ اين شاخه از علوم را مي توان به سه دوره تقسيم کرد:
                <br />

                الف- دوره هاي کهن (Classic)، يعني از ارسطو (384-322 قبل از ميلاد) تا ايسل [(1790-1736) Rome de L, Isle] که در طول آن، به ويژه بعد از 1600 ميلادي، بلور به عنوان يک هستي قابل توجه علمي مطرح بود، و کم کم به عنوان مشخصة بنيادي و با اهميت به رسميت شناخته شد. از آن زمان فرضيه هايي دربازة ساختار بلور و نيز سرشت فيزيکي اجزاي تشکيل دهنده آن ارائه شده است. بنابراين ساختار بلورها با مسئله شکل بندي مواد ارتباط تنگاتنگي پيدا کرد.
                <br />

                ب- از 1784 تا 1912 ميلادي، يعني از دوران هوي [(1822-1743) Hauy]، تا دستيابي به 230 گروه فضايي و کشف پراش پرتو X . در اين سال ها جهان علم شاهد گسترش گروه هاي تقارن، نما و نظريه تناوبي در ساختار داخلي بلور بوده است.
                <br />

                پ- از 1912 تا زمان حاضر، تا پيش از کشف پرتو X در برخي از مراکز علمي شبکه فضايي تنها به عنوان يک فراگرد رياضي ناب مورد توجه قرار مي گرفت، اما پس از کشف پرتو X اهميت فيزيکي آن ها کاملاً تاييد شد. در 80 سال گذشته بلورشناسي به ويژه شاخة هندسي آن در بسياري جهات توسعه يافته است.



            </p>
            <h5>تاريخ توسعه</h5>
            <p>
                از قرن شانزدهم، مطالعة ساختار و نماي بلور به عنوان يک مسئله علمي جالب آغاز شد. جرج باور (1555-1449) فيزيکدان و طبيعي دان آلماني، که در نوشتارهاي علمي به Georgius Agricola معروف است، توانست ويژگي هاي ظاهري بلورها را در رده بندي آن ها به کار گيرد ولي اولين مقالة بلورشناسي هندسي کپلر (1630-1571)، رياضيدان و ستاره شناس درباري و کاشف قانون سيارات بر اساس مشاهدات خود روي بلورهاي برف نوشت، او همواره اين سئوال را مطرح مي کرد که چرا بلورهاي برف شش رخ دارند و هرگز به صورت پنج يا هفت وجهي ديده نمي شوند؟!
            </p>
            <p>
                کپلر  براي اولين بار شکل بلور و بسته بندي کروي را بهم ربط داد، و سعي کرد پيکربندي ششگوشي بلور برف را از انباشته شدن قطرات کروي بخار (با فرض اين که بلور برف از کره ها ي ريز تشکيل شده است) توضيح دهد. او همچنين بسته بندي مکعبي ذرات کروي با تقارن مرتبة 4 و 6 را تشريح کرد، بسته بندي مکعبي ساده، رخ، و درون مرکزدار، و ششگوشي ساده را نيز مورد بحث قرار داد، و به اين نتيجه رسيد که بلورهاي چندوجهي در اثر بهم فشرده شدن ذراتي کروي شکل آرايش يافته اند. کپلر کوشيد تا شکل بلورهاي برف را تنها بر اساس قضيه هاي هندسي توصيف کند، که متأسفانه موفقيتي به دست نياورد.
            </p>
            <p>
                نمايش ساختار بلور به صورت بسته بندي فضايي، يکي از روش هايي است که تا به امروز به صورت سودمندي ادامه دارد. از پيروان اوليه اين روش علاوه بر کپلر مي توان از دکارت [(1650-1596) Rene Descartes]، بارتولينوس [(1968-1625Ermasmus Bartholinus]، هوک [(1703-1635) Robert Hooke]، و ... نام برد. با اين همه به نظر مي رسد که کپلر اولين کسي بود که ذرات کروي يا اتم ها را مورد توجه قرار داد. او به ساختار بلور به صورت يک مسئله اساسي نگاه مي کرد و معتقد بود که شکل بلورها نتيجه آرايشي است که از بسته بندي ذرات کروي به وجود مي آيد. هوک چگونگي شکل گيري بلورهاي چند رخ و چند سطحي را تشريح کرد، و همسان با او، هويگنس [(1695-1629) Christian Huyghens] در توجيه رخ کلسيت، اتم هاي بيضوي را دخالت داد. به دلايل مختلف مدل بسته بندي کروي مورد ايراد قرار گرفت.
            </p>
            <p>
                مثلاً چنين استدلال مي شد که با فرض مشابه بودن اتم ها چگونه مي توان تفاوت شيميايي و بافتي بلورها را توجيه کرد؟ علاوه بر آن مشکل اساسي ديگري نيز وجود دارد و آن درز و شکاف هاي بين ذرات کروي هستند که بايد براي آن پاسخي يافت.
            </p>
            <p>

                هوک و نيز هويگنس فرض کردند که شکاف ها را برخي از انواع مواد پر مي کنند، و براي ايرادهاي ديگر فرض هاي ديگري ارائه کردند، که از جمله آن ها اين است که ذرات سازاي بلور چند سطحي هايي [چند وجهي هايي] با شکل ها و اندازه هاي مختلف اند.

            </p>
            <p>
                اولين نظرية تفصيلي هندسي ساختار بلور را گاگلييل ميني [(1710-1655) D. Guglielmini] فيزيکدان و رياضيدان ايتاليايي پيشنهاد کرد. او در سال 1705 ادعا کرد که براي نمک ها چهار شکل بنيادي، مکعب، منشور ششگوشي، لوزي رخ و هشت وجهي، وجود دارند که مي توانند براي تشکيل نمک هاي ديگر با هم ترکيب شوند. در اواسط  قرن هيجدهم به ديدگاه سومي، که بيشتر به نام ديدگاه بوسکويچ [(1787-1711)R.G.Boscovich] معروف است، برمي خوريم که بنابر آن در ساختار بلورها، اتم هاي واقعي را مي شود به صورت نقاط يا قطب هايي تصور کرد که با نيروهاي جاذبه و دافعه به تعادل رسيده اند، به اين معني که هر نقطه بخشي از فضا را اشغال مي کند، از اين رو ديدگاه بوسکويچ از نظر هندسي با دو ديدگاه پيشين سازگار بود.
            </p>
            <p>
                در هيچ يک از اين نظريه هاي ساختاري به يک طرح قياسي براي رشد بلور اشاره اي نشده است. در بسياري از نظريه ها رشد گياه مانندي براي کاني ها در نظر گرفته شده است. يکي از سرشناسترين مخالفين رشد گياهي، نيلز استنسن [(1686-1638) iels Stensin] فيزيکدان و پژوهشگر دانمارکي بود. او يک زرگر زادة کپنهاکي بود که از سال 1665 در فلورانس به عنوان پزشک مخصوص والي بزرگ توسکانا انجام وظيفه مي کرد و سپس در سال 1675 به کسوت کشيشي درآمد و در سال 1680 به اسقفي شهر مونستر (Munster) رسيد، و بالاخره در سال 1686 در حاليکه نمايندة پاپ در شمال اروپا بود وفات يافت، و در پرستشگاه پزشکي سن لورنزو (San Lorenzo) در فلورانس به خاک سپرده
                شد.
            </p>
            <p>
                نامش را به لاتين نيکولاس استنو (Nicolaus steno) مي خوانند. او در سال 1669 براساس اندازه گيري زاوية بلورهاي کوارتز، قانون ثابت بودن زواياي بين سطوح را ارائه داد. استنو ثابت بودن زاويه را يک امر ضروري رشد بلور، به واسطة هم افزايي ذرات در به وجود آوردن سطوح خارجي، مي دانست. اثر او به زبان هاي مختلف برگردانده شد، که تاثيري ژرف بر توسعة بلورشناسي گذاشت. با اين همه، نظرية رشد گياهي سال هاي زيادي دوام داشت.
            </p>
            <p>
                در روسيه نابغه اي بنام  لومونوسف [(1765-1711) M. V. Lomonosov] روي شکل بلورها و زاوية بين سطوح بررسي هايي انجام داد. او نيز مي پنداشت که اتم ها کروي اند و همانند هوک طرح هاي زيادي رسم کرد. در اين کارها او به بسته بندي فشرده مکعبي ساده روي آورد. متأسفانه آثار بلورشناسي او تا آغاز قرن حاضر به دست فراموشي سپرده شد.
                ده شد.
            </p>
            <p>
                واژة بلورشناسي را اولين بار فيزيکدان سوئيسي کاپلر [(1769-1685) U. Cappeller] معرفي کرد. او ثابت بودن زاويه را در بلورها به اثبات رساند. کاپلر از اولين کساني بود که براي مطالعة سيستماتيک بلورها بر اساس نماي بلور اقدام کرد. او بر اين باور بود که براي تعيين شکل هاي ذراتي که بلورها از آن ها تشکيل شده اند اين اقدام ضروري است. کاپلر پس از مطالعة بلورها به تفصيل 9 شکل اصلي يا نماي بلور را به ثبت رساند.
            </p>
            <p>
                با اين همه ايسل و هوي بر اين باور بودند که کارل لينوس [(1778-1707) Carl Linnaus]  بنيانگذار علم بلورشناسي است. لينونس نيز بر زايش و رشد گياه مانند کاني ها باور داشت. سعي فراوان او در رده بندي بلورها براساس ريخت شناسي، مخالف نگرش هاي فيزيکي و شيميايي بود. او بلورها را در رده هاي مختلف تقسيم کرد و آخرين کار با ارزشي که انجام داد مطالعة نماي ظاهري بلورها بود.
            </p>
            <p>
                در سال ها 53/1175 رابطة اساسي بلورشناسي هندسي را اويلر [L. Euler] رياضيدان سوئيسي کشف کرد. رابطة معروف او به صورت زير است:
                <br />

                تعداد سطح ها + تعداد کنج ها = تعداد يال ها + 2
                <br />

                او در سال 1765 ثابت کرد که حاصل دو چرخش حول برخوردگاه محورها خود يک چرخش است، و هر حرکت مرتب، حاصل يک چرخش و يک انتقال است.


            </p>
            <p>

                آبراهام ورنر [(1817- 1750) Abraham G. Werner] استاد کاني شناسي، مفهوم شکل هاي اوليه و مشتقات آن از يکديگر را تأييد کرد. ولي روش رده بندي او با لينوس بسيار تفاوت داشت. ورنر مبناي کار را بر خصوصيات ويژه، مثل رنگ، نوع چسبندگي و شکل قرار داد و بر اين باور بود که هفت شکل ابتدايي وجود دارد، که يکي از آن ها دوازده وجهي معمولي است. شايد اين اشتباهات ناشي از عدم وجود اندازه هاي دقيق بوده است.

            </p>
            <p>
                آرنولد کارانگوت [(1806- 1742) Arnold Carangoet] در سال 1780 زاويه سنج دستي را اختراع کرد و مورد استفاده قرار داد، که در ساخت مدل هاي کلي بسيار کارساز بود. او با اين زاويه سنج زاوية بين سطوح بلور کوارتز را مجدداً اندازه گيري کرد.  ايسل همراه با معلم خود قانون ثابت بودن زوايا در مواد بلوري ديگر را به اثبات رساند. ايسل در 1783 پس از تعميم اين قانون در مقدمة رساله اي چهار جلدي به تشريح آن پرداخت، و با معرفي شش شکل ابتدايي نشان داد که مي توان از آن ها به شکل هاي ثانويه دست يافت. او همچنين بلورهاي دوقلو و پسيدومورف ها و نيز همة داده هاي آن زمان را توصيف کرد. هر چند کارهاي بعدي بر مبناي اندازه گيري با اين زاويه سنج دستي پايه ريزي شده بود، ولي زاويه هاي اندازه گيري شده با روابط نظري او سازگاري چنداني نداشتند.
            </p>
            <p>
                اين مشکل پس از تکميل زاويه سنج انعکاسي در سال 1809 توسط ويليام والستون [(1828- 1766) Wiliam Wallaston] استاد دانشگاه کمبريج برطرف شد. برگمن [(1784- 1735) Torbern Olof Bergman] شيميدان و کاني شناس سوئدي (استاد دانشگاه اپسالا Uppsala)، در سال 1773، حتي پيش از کشف زاويه سنج، ساختار يک مثلث رخ، تشکيل شده از يک هسته لوزي رخ را با تطابق تيغه هاي لوزي شکل انتشار داد. با وجود اين که برگمن در استفاده از تيغه هاي لوزي شکل به عنوان ياختة يکه براي توصيف ساختارهاي ديگر، از جمله شکل صليبي دوقلوي استروليت، چندان موفق نبود، ولي بر اين باور بود که در مسير درستي قرار دارد.
            </p>
            <p>
                حقيقتاً انديشة او توسط هوي، کشيش و کاني شناس فرانسوي، [(1822- 1743) Rene Just Hauy] به بار نشست. هوي در سال 1743 در شهر سنت ژاست (st Just) در شمال فرانسه متولد شده، و در کالج هاي ناورا (Navarre) و کاردينال لموآن (Cardinal Lemoine) پاريس تحصيل کرد و از فيزيک به کاني شناسي روي آورد او در سال 1801 کتابي زير عنوان رگه هاي کاني شناسي در چهار جلد منتشر کرد، مدتي عضو مدرسه معدن بود، و سپس به عنوان استاد کاني شناسي در موزه تاريخ طبيعي به کار پرداخت، و سرانجام کرسي استادي دانشگاه را کسب کرد

            </p>
            <p>
                او در حاليکه با عنوان کشيش هوي عضو افتخاري کانون نوتردام بود در سال 1822 در پاريس در گذشت. بنابر استدلال او، که در 1784 انتشار يافت، همة بلورها از بلوک هاي چند سطحي ساخته شده اند. مثلاً از تيغه هاي لوزي رخ مي توان براي ساختن مثلث رخ (اسکالنو هدرون) استفاده کرد. هوي ديتر در نوشته هايش (1801- 1815- 1822) نظرية خود را گسترده تر عرضه داشت. او معتقد به رشد بلور به روش هم افزايي يکه هاي مشابه بود، که آن ها را مولکول هاي جمع پذير مي ناميد. انديشة مولکول هاي کامل را مي توان تقريباً هم ارز با ياختة اوليه، يا سنگ زير بنا در بلورشناسي مدرن به حساب آورد. در طي رشد بلور ياخته ها به طور منظم روي هم انباشته مي شوند، شکل اوليه به وجود مي آورند، و اشکال ثانويه در اثر روي هم انباشته شدن تدريجي ياخته هاي اوليه حاصل مي شود. او به طور تجربي ثابت کرد که اندازة اين يکه هاي مشابه نسبت به هم يک عدد درست است.
            </p>
            <p>
                اين نسبت قانون بنيادي اوست، که بعداً ديگران آن را به عنوان قانون ثابت هاي سادة هندسي گويا به اثبات رساندند. از طرف ديگر او معتقد بود که اين پله ها در جهت رخ، سطوح همواري دارند. در حاليکه سطوح ديگر به صورت پله اي هستند، که به علت کوچکي با چشم ديده نمي شوند، و به نسبت برآمدگي به رورفتگي پله ها   عددي است درست، و مضرب کوچکي از يکه هاي طولي اند. يکي از انتقاد کننده هاي انديشة هوي، ويس [(1856-1780) Christion Samuel Weis] استاد کاني شناسي دانشگاه برلين و از شاگردان ورنر بود،که در سال 1810 به عنوان استاد دانشگاه برلن برگزيده شد. ويس به جاي پندار ذره در بلور بر اهميت راستا در بلور تأکيد داشت.
            </p>
            <p>
                او در سال 1809 اجزا طولاني بلور، و در 1815 سيستم هاي بلوري را مطرح کرد (نه کاملاً به شکل امروزي آن ها، به ويژه سيستم هاي تک ميل و سه ميل که عقيدة او درست نبود). محورهاي بلور (به مفهوم لبه هاي بلور) از نظر ويس اهميت فيزيکي داشت و مي توانست به عنوان مبنايي براي رده بندي بلورها استفاده شود. او علائمي نيز براي محورها، مناطق، و سطوح بلوري ابداع کرد. تعيين ضرايب نسبت ها را نيز به او نسبت مي دهند (شاخص هاي ميلر در حقيقت عکس نسبت هاي ويس است). ادعاي محدود بودن تقارن محور چرخش در يک بلور، که تنها تقارن درجه 1-2-3-4- و 6 را در بر
                مي گيرد، به رده بندي تجربي ويس مربوط مي شود. در حاليکه سيستم هاي تبلور موس [(1839-1773) Friedrich Mohs] شاگرد ديگر ورنر در سال 1822 به اثبات رساند. کشف يکريختي (1819) و چند ريختي (1822) و تقارن از سوي ميچرليخ [(1863- 1773) E. Mischerlich] تاييد دوباره اي بود بر نظرية هوي.
            </p>
            <p>
                هر چند که رده بندي سيستم هاي بلوري بر اساس محورها (ثابت هاي هندسي) را ويس مطرح کرد، ولي اين فرانکنهايم [1869- 1801) Moritz Frankenheim] بود که آن ها را در هفت رده قرار داد، که متاسفانه کار او فقط در مجلة Isis منتشر شد و هيچ اثري بر علم زمان خود نداشت، ولي هسل [(1872- 1796) J.F.C.Hessel] آن رده بندي را يکبار ديگر مطرح کرد. سي بر [(1855- 1793) Ludwig August Seeber]  استاد فيزيک دانشگاه ماربورگ با توجه به تراکم پذيري بلورها سعي کرد تا ساختار اجسام جامد را توصيف کند.
            </p>
            <p>
                به عقيدة او، هر بلور از ذرات کروي تشکيل مي شود که مرکز جرم هايشان به صورت متوازي السطوح قرار مي گيرد (در اثر نيروي جاذبه و دافعه در فاصلة تعادلي نگه داشته مي شوند)، از اين رو انديشة نوين شبکة فضايي (1824) به درستي شکل مي گيرد.
            </p>
            <p>
                اولين اطلس شکل هاي بلوري را گلداشميت [(1933- 1853) V. Gold Schmidt] در سال 1913 تا 1923 در بيست جلد تدوين کرد و انتشار داد.
            </p>
            <p>
                نومن [(1873- 1797) Karl Friedrich Naumann] در سال 1830 با معرفي سيستمي ديگر، نسبت هاي حدوداً اختياري سيستم هاي ويس و موس را ساده و هماهنگ کرد. او با بررسي زاوية بين محورها در سيستم هاي بلوري نشان داد که در سيستم مکعبي ممکن است مکعب هايي با ويژگي هاي متفاوت فيزيکي، وجود داشته باشند (با توجه به تفاوت در تقارن).
            </p>
            <p>
                هسل [(1872- 1797) J. Friedrech Hessel] استاد کاني شناسي دانشگاه ماربورک در سال 1830 با معرفي واژه محورهاي تقارن، ثابت کرد که تنهامحورهاي چرخشي ممکن، محورهاي درجه 2، 3، 4، و 6 هستند، و از اين راه به 32 ردة تقارني بلورها دست يافت.
            </p>
            <p>
                ميلر [(1880- 1801) W.H.Miller] استاد کاني شناسي کمبريج، چنانکه پيش از اين اشاره شد، در سال 1840 با معکوس کردن نسبت هاي ويس آن ها را به عنوان شاخص هاي ميلر (hkl) به کار برد. لازم به يادآوري است که اين روش 15 سال پيش از آن توسط هول (Whewell) پيشنهاد شده بود. کار ديگري که ميلر کرد پيشنهاد علامت [UVW] براي محور منطقة بلوري بود.
            </p>
            <p>
                براوه [(1863- 1811) Auguste Bravais] سرشناس ترين بلورشناسي است که نظريه ساختار بلور را ارائه داد. او در انوني جنوب فرانسه متولد شد، مدتي افسر نيروي دريايي بود، سپس به اخترشناسي و رياضي و فيزيک روي آورد، و سرانجام به استادي فيزيک مدرسه پلي تکنيک پاريس رسيد. او در سال 1863 در ورساي در گذشت. شاخص ترين کار او معرفي 5 شبکه انتقالي تقارن سطحي و 14 شبکه فضايي معروف به شبکه براوه بود، که در سال 50- 1849 ارائه شد. وان هوف و لوبل در سال 1874 مستقل از يکديگر با کار روي ساختار مولکول اسيد استيک و عدم تقارن در همارايي چهارتايي کربن، به پديدة همريخت آينه اي (فرم هاي راستگرد و چپ گرد) دست يافتند. يکي ديگر از بلورشناسان ائوناردسونک [(1897- 1842) Leonhard Sohnke] است که اولين کار مهم خود در بلورشناسي را نيز عنوان نظريه رشد ساختار بلور منتشر کرد. سونک از سال 1879 کار خود را به عنوان استاد غير دولتي فيزيک در کارلسروهه آغاز کرد و سپس در ژنو و مونيخ  ادامه داد. او در سال 1879 با استفاده از محورهاي پيچي 65 گروه فضايي را به دست آورد، که در آن هر نقطه در مجموع توسط نقاط مجاور به طور مشابه محاط مي شود، و با استفاده از آن در سال 1888 ثابت کرد که اين نقاط در بلورها را اتم ها تشکيل مي دهند. در همين سال ها (1877) بود که اولين مجلة بلورشناسي انتشار يافت.
            </p>
            <p>
                بارلو [(1934- 1845) William Barlow] بلورشناس ديگري است که در Istington متولد شد. اولين مقالة او درباره تقارن داخلي بلورها در سال 1883 منتشر شد و نظرية بسته بندي گلوله اي را مطرح کرد.
            </p>
            <p>
                شوئن فليس [(1922- 1853) Arthur Moritz Schoenflies]  رياضيداني بود از Landsberg که از 1884 به استادي رياضي دانشگاه گوتينگن رسيد. شوئن فليس يافته هاي خود در بلورشناسي را در کتابي زير عنوان سيستم و ساختار بلور به چاپ رساند. او براي سيستم نقطه اي نه تنها انتقال، چرخش، چرخش وارون و پيچي را در نظر گرفت بلکه بازتابش آينه اي و بازتابش لغزشي را نيز به کار برد و بدان وسيله ترکيب 230 گروه فضايي را به دست آورد و بالاخره پس از سال ها تلاش در اين زمينه در فرانکفورت درگذشت.
            </p>
            <p>
                پس از ولف بايد از گروث [(1927- 1843) Paul Heinrich Ritter Von Groth] متولد Marburg نام برد. او پس از تحصيل در دانشگاه هاي درسدن، فرايبورگ، و برلين به مقام استاد کاني شناسي دانشگاه استراسبورگ رسيد. گروث در سال 1883 راهي مونيخ شد و در آنجا براي مدت چهل سال به عنوان استاد کرسي بلورشناسي شيميايي کارکرد و به شهرت جهاني رسيد. او در کتاب پنج جلدي خود زير عنوان بلورشناسي شيميايي اطلاعات بلورشناسي بيش از 7000 ماده را جمع آوري کرد. گروث يکي از پايه گذاران نشريه بلورشناسي بوده است. او در سال 1927 درگذشت.
            </p>
            <p>
                بين سال هاي (1960- 1879) با دانشمند ديگري به نام فون لاوه [MaxFelix Theodor Von Laue] آشنا مي-شويم که در محلة Pfaffendrof نزديک Koblenz به دنيا آمد. او با نوشتن رساله اي زير عنوان «اپتيک نظري» تحصيلات خود را در دانشگاه براين به پايان برد. فون لاوه، به دنبال همين کار خود در اپتيک، در حاليکه به عنوان استاد مدعو در دانشگاه مونيخ کار مي کرد، در سال 1912 نشان داد که از شبکه سه بعدي مي توان براي پراش پرتو X استفاده کرد. بر پاية همين ايده بود که او آزمايش معروف خود را انجام داد و سه مسئله زير را حل کرد:
                <br />

                الف- سرشت موجي بودن پرتو X
                <br />

                ب- شبکه فضايي بلور
                <br />

                ج- طول موج پرتو X در بزرگترين حد خود به اندازة قطر اتم هاست.
            </p>
            <p>
                بعدها فون لاوه به استادي فيزيک دانشگاه هاي زوريخ، فرانکفورت، و برلين رسيد و سرانجام رئيس شاخة فيزيک مؤسسة ماکس پلانک شد و در سال 1960 در اثر سانحه اي در برلين درگذشت.
            </p>
            <p>

                جرج ولف [(1925- 1863) Yurii (Georgii) Viktorovich Wulff] بلورشناسي بود روسي که درNezhin  متولد شد. او تحصيلات خود را در دانشگاه ورشو به پايان رساند و در همان دانشگاه به استادي کرسي بلورشناسي و کاني شناسي رسيد، و سپس در سال 1907 به عنوان استاد بلورشناسي به دانشگاه مسکو رفت. ولف بسياري از مقالات خود را به زبان روسي نوشت، ولي مقالاتي که به زبان آلماني مي نوشت از نام جرج ولف استفاده مي کرد، و شايد به خاطر همين مقالات بود که به عنوان يک شهروند آلماني شهرت داشت. ولف در سال 1902 توري را براي استفاده در تصوير برجسته نگاري ابداع کرد، که امروزه به تور ولف مشهور است. او در سال 1925 در مسکو درگذشت.

            </p>
            <p>

                اکنون بايد از جرج فريدل [(1933- 1865) George Friedel] نام برد که در Mulhouse Alsac  متولد شد و فرزند يک کاني شناس بود. گرچه سال هاي اوليه زندگي او در معدن گذشت ولي در سال 1919 در دانشگاه استراسبورگ به استادي کاني شناسي و بلورشناسي رسيد، و در سال 1933 در همان شهر در گذشت. کارهاي او در زمينه هاي گسترده اي در بلورشناسي، کاني شناسي و زمين شناسي بوده، و کتابي نيز به عنوان بررسي کاني شناسي منتشر کرد.

            </p>
            <p>
                در اينجا لازم است از پدر و پسري به نام براگ [(1942- 1862) William Henry ZBragg] و [(1971- 1890) Willian Lawrenec Bragg] ياد کرد که هر دو به استادي دانشگاه ليذر رسيدند و از ايدة فون لاوه در تعيين ساختار بلورها استفاده کردند. اولين بلورهايي را که آن ها ساختارشان را مورد شناسايي قرار دادند، بلور الماس و نمک طعام بود. اين پدر و پسر در سال 1915 موفق به دريافت جايزه نوبل شدند. پس از ارائه نظريه چند نوعي (polytype) توسط H.Baumhaver در سال 1915، اوالد [(1985- 1888) Peter Paul Ewald] در سال 1920 طرح شبکة وارون (Reciprocal Lattice) را همراه با تفسيري هندسي بر قانون براگ منتشر کرد. او در ادامة کار خود، بالاخره در سال 1927 با استفاده از پرتو X پژوهش هاي گسترده اي روي ساختار مواد انجام داد.
            </p>
            <p>
                نيگلي [(1953- 1888)Paul Niggli] يکي از سرشناسترين مدعيان کاني شناسي، بلورشناسي و سنگ شناسي بود، که در 1913 کار خود را به عنوان استاد غير رسمي دانشگاه زوريخ آغاز کرد، و سپس از 1915 تا 1918 در لايپزيک و از 1918 تا 1920 در دانشگاه توبينگن به کار پرداخت، و بالاخره در 1920 دوباره به زوريخ بازگشت. کارهاي شاخص او عبارتند از تعيين گروه هاي فضايي با استفاده از پرتو X در 1918، نمايش 230 گروه فضايي با موقعيت هاي نقطه اي و تقارن نقطه اي، و ارتباط ساختار بلورها و ريخت شناسي.
            </p>
            <p>
                فدوروف [(1928- 1853) Evgraf Stepanovich Fedorov] بلورشناس و کاني شناس سرشناس روسي، هم عصر شوئن فليس رياضيدان آلماني، بود که زادگاهش را  Orenburgذکر کرده اند. او پس از گذراندن زماني کوتاه در ارتش، رشته زمين شناسي را انتخاب کرد و همزمان با شوئن فليس و مستقل از او 230 گروه فضايي را مطرح کرد. زماني که او مهترين نظرية خود در مورد ساختار بلور را منتشر کرد، تحصيلدار سازمان زمين شناسي روسيه بود. فدوروف در سال 1905 به استادي بلورشناسي و کاني شناسي دانشگاه سنت پترزبورگ رسيد و تا پايان عمر در آن دانشگاه مشغول به کار بود. او با اختراع دستگاه هاي ويژه اي در بلورشناسي، کم و کاستي هاي وسايل آزمايشگاهي خود را تکميل کرد، که زاويه سنج انعکاسي دوجهته، و ميکروسکوپ معروف به ميز فدوروف از جملة آن هاست. فدوروف از سال 1919 تا زمان مرگش وظيفه سنگين رده بندي و جدول بندي همة داده هاي موجود مربوط به ريخت شناسي مواد بلورين را به عهده داشت. او روش شيمي بلور را به گونه اي توسعه داد که به ياري آن بتوان هر مادة بلوري مندرج در جدول را به اندازه-گيري زواياي مورد نياز با زاويه سنج، شناسايي کرد.
            </p>
            <p>
                بلورشناس ديگري که بايد نام برد گلداشميت [(1947- 1888) Victor Moriz Gold Schmidt] است که در زوريخ متولد شد. او از سال 1905 تحصيلات دانشگاهي خود را در دانشگاه اسلو به عنوان شاگرد بروگر [W.C.Brogger] آغاز کرد و سپس با حضور در کلاس هاي درس بک (Becke) در وين و گروث (Groth) در مونيخ فارغ التحصيل شد. مشاغل دانشگاهي گلداشميت به ترتيب عبارت اند از استاد دانشگاه اسلو (1929- 1914) استاد دانشگاه گوتينگن (1935- 1929)، و بازگشت دوباره به اسلو تا زمان مرگش. او در تمام آن سال ها، جز وقفه کوتاهي (46- 1942) که از چنگ نازي ها به انگلستان گريخت، با سختکوشي مشغول به کار بود. او را بايد بنيانگذار شيمي بلور و کاربرد داده ها شيمي بلور در توصيف و تفسير ژئوشيمي دانست.
            </p>
            <p>
                جدول زير روند پيشرفت بلورشناسي را تا سال هاي اخير همراه با شرح حال خيلي کوتاه از پژوهشگران و کارهاي شاخصشان، و نيز فعاليت هاي پژوهشي و تشکيل سمينارها در ايران را نشان مي دهد.
            </p>
            <p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>نام پژوهشگر –سمينار</th>
                            <th>تاريخ رويداد</th>
                            <th>زمينة کار</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Peter- Debye</th>
                            <td>1916</td>
                            <td>عکسبرداري با پرتو </td>
                        </tr>
                        <tr>
                            <th scope="row">(1947- 1888)</th>
                            <td>1924</td>
                            <td>عکسبرداري با دوربين ابداعي خود و تعيين ساختار بلور</td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>
    </div>@*@