@Html.Action("DynamicPage", "Home", new { id = 43 })
@*
    <div id="content" class="animated fadeIn animation-delay-7">
        <div class="container">
            <div class="row">
                <!-- Secondary features -->
                <div class="col-md-12">
                    <h3 class="title-divider">
                        <span>آیین نامه مجله</span>
                    </h3>
                    <div class="row">
                        <div class=" col-md-3">
                            <ul class="nav nav-tabs nav-stacked nav-tabs-bold">
                                <li class="nav-item">
                                    <a data-target="#tab1" class="nav-link active" data-toggle="tab">
                                        <h5>فصل اول</h5>
                                        <small>مقدمه</small>
                                        <i ng-controller="translateCtrl" ng-class="{'fa fa-angle-left': isActive('fa'),'fa fa-angle-right': isActive('en')}"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#tab2" class="nav-link" data-toggle="tab">
                                        <h5>فصل دوم</h5>
                                        <small>مشخصات كلي</small>
                                        <i ng-controller="translateCtrl" ng-class="{'fa fa-angle-left': isActive('fa'),'fa fa-angle-right': isActive('en')}"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#tab3" class="nav-link" data-toggle="tab">
                                        <h5>فصل سوم</h5>
                                        <small class="pl-2">مدير مسؤول، سردبير، مدير اجرايي، هيأت تحريريه، مشاوران و وظايف آن ها</small>
                                        <i ng-controller="translateCtrl" ng-class="{'fa fa-angle-left': isActive('fa'),'fa fa-angle-right': isActive('en')}"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#tab4" class="nav-link" data-toggle="tab">
                                        <h5>فصل چهارم</h5>
                                        <small>امور مالي</small>
                                        <i ng-controller="translateCtrl" ng-class="{'fa fa-angle-left': isActive('fa'),'fa fa-angle-right': isActive('en')}"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#tab5" class="nav-link" data-toggle="tab">
                                        <h5>فصل پنجم</h5>
                                        <small>محل دفتر مجله</small>
                                        <i ng-controller="translateCtrl" ng-class="{'fa fa-angle-left': isActive('fa'),'fa fa-angle-right': isActive('en')}"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#tab6" class="nav-link" data-toggle="tab">
                                        <h5>فصل ششم</h5>
                                        <small>تغيير آيين نامه</small>
                                        <i ng-controller="translateCtrl" ng-class="{'fa fa-angle-left': isActive('fa'),'fa fa-angle-right': isActive('en')}"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content col-md-9">
                            <div class="feature tab-pane active col-sm-12 col-md-12" id="tab1">

                                <h4 class="text-primary">فصل اول: مقدمه</h4>
                                <p>
                                    مجله‌ بلورشناسي‌ و كاني‌شناسي‌ ايران‌ (Iranian Journal of Crystallography and Mineralogy) نشرية‌ تخصصي‌ انجمن‌ بلورشناسي‌ و كاني‌شناسي ‌ايران‌ است‌ كه‌ به‌ منظور ارائة‌ دستاوردهاي‌ تازة‌ علمي‌ و پژوهشي‌ منتشر مي‌شود. مجله‌ از همكاري‌ پژوهشگران‌ در گرايش هاي‌ مختلف‌ علوم‌ بلورشناسي‌ و كاني‌شناسي‌ به‌ گرمي‌ استقبال‌ مي‌كند. اميد است‌ با بسط‌ پژوهش‌ در شاخه‌ های مرتبط با این علوم‌، بتوان‌ هر شماره را پر بار تر از شماره قبل منتشر کرد‌.
                                </p>
                            </div>
                            <div class="feature tab-pane col-sm-12 col-md-12" id="tab2">
                                <h4 class="text-primary">فصل دوم: مشخصات كلي </h4>
                                <p class="font-weight-bold mb-0">ماده 1:</p>
                                <p>
                                    اين مجله، علمي- پژوهشي است و زير نظر انجمن بلورشناسی و کانی شناسی ایران منتشر ميشود.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 2:</p>
                                <p>
                                    مجله به مقالات پژوهشي و علمي اصيل كه در حوزه های مربوط به ساختار و ویژگی های بلورها و کانی ها در فیزیک، شیمی، زمین شناسی، مواد و معدن، تأليف شود، اختصاص دارد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>
                                    مجله مقالاتي را كه نتيجه طرحهاي پژوهشي و تحقيقاتی اصيل و نقدهاي معتبر و ارزنده است و در جاي ديگر به هيچ زبان و شكلي (اعم از كاغذي، ديجيتالي و ...) منتشر نشده باشد به چاپ ميرساند.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 3:</p>
                                <p>
                                    مقالات به دو زبان فارسي و انگليسي پذيرفته ميشود.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>
                                    درج چكيده مقالههاي فارسي به زبان انگليسي و بالعكس الزامي است.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 4:</p>
                                <p>
                                    مجله در هر سال به صورت فصلنامه در 4 شماره منتشر می شود.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 5:</p>
                                <p>
                                    راهنمای تنظیم مقاله برای چاپ در مجله و ارسال مقالات، توسط هيأت تحريريه تدوين ميشود و در هر شماره از مجله به چاپ می رسد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>
                                    تعداد نسخههاي چاپی هر شماره توسط سردبير تعيين مي‌شود.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 2:</p>
                                <p>
                                    مقالات واصله به نويسنده مسترد نخواهد شد.
                                </p>
                            </div>
                            <div class="feature tab-pane col-sm-12 col-md-12" id="tab3">
                                <h4 class="text-primary">فصل سوم: مدير مسؤول، سردبير، مدير اجرايي، هيأت تحريريه، مشاوران و وظايف آنها </h4>
                                <p class="font-weight-bold mb-0">ماده 6:</p>
                                <p>
                                    مدير مسؤول مجله بنا به پيشنهاد هیات مدیره انجمن و با ابلاغ رياست محترم انجمن با شرايط مندرج در ماده 12 اين آييننامه تعيين مي گردد.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 7:</p>
                                <p>
                                    وظايف مدير مسؤول عبارت است از
                                </p>
                                <p>
                                    الف) مسؤوليت تمامي موارد حقوقي مجله و پاسخگويي در برابر قانون
                                </p>
                                <p>
                                    ب) عزل و نصب كاركنان مجله
                                </p>
                                <p>
                                    ج) تهيه و تنظيم قراردادها و موافقتنامههاي مربوط به امور مجله
                                </p>
                                <p>
                                    د) تنظيم و پيشنهاد بودجه ساليانه مورد نياز
                                </p>
                                <p>
                                    ه) تأييد مقالات به لحاظ حقوقي براي چاپ
                                </p>
                                <p>
                                    و) بازبيني نسخههاي آماده چاپ (به لحاظ ظاهري) و پيگيري لازم جهت چاپ مجله
                                </p>
                                <p class="font-weight-bold mb-0">ماده 8:</p>
                                <p>
                                    سردبير مجله بنا به پيشنهاد هیات مدیره انجمن و با ابلاغ رياست محترم انجمن با شرايط مندرج در ماده 12 اين آييننامه تعيين مي گردد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>
                                    مدیر مسئول مجله می تواند سمت سردبیری مجله هم داشته باشد.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 9:</p>
                                <p>
                                    سردبير مجله براي مدت چهار سال انتخاب ميشود.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>
                                    انتخاب مجدد سردبير قبلي مجله بلامانع است.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 2:</p>
                                <p>
                                    مدير مسؤول موظف است با هماهنگی هيات تحريريه حداكثر شش ماه قبل از پايان دوره جاري، نسبت به معرفی كانديد سردبيري مجله اقدام نمايد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 3:</p>
                                <p>
                                    هر گاه سردبير مجله، قبل از پايان دوره سردبيري، به دلايلي كنارهگيري كند، تا انتخاب سردبير بعدي، هيأت تحريريه يكي از اعضاي خود را با هماهنگی با انجمن به عنوان سردبير موقت تعيين ميكند و مدير مسؤول مجله بيدرنگ مقدمات انتخاب سردبير جديد را فراهم ميآورد. در صورت انتخاب سردبير موقت مجله، مدتي كه وي مسؤول موقت است، جزو دوره چهار ساله سردبيري او محسوب نميشود.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 10:</p>
                                <p>
                                    وظايف و اختيارات سردبير عبارت است از:
                                </p>
                                <p>
                                    الف) مسؤوليت تمامي موارد علمي مجله و نظارت بر محتواي آن
                                </p>
                                <p>
                                    ب) پاسخگويي به كليه نامههاي دريافت شده
                                </p>
                                <p>
                                    ج) ارسال مقالات براي داوري، پذيرش و يا رد مقالات با امضاء سردبير
                                </p>
                                <p>
                                    د) تهيه و تنظيم فراخوان، نظارت بر آييننامههاي علمي، جمعبندي نظر داوران و آراء هيأت تحريريه
                                </p>
                                <p>
                                    ه) رياست جلسات هيأت تحريريه
                                </p>
                                <p>
                                    و) مسؤوليت نظارت بر محتواي وب سايت مجله
                                </p>
                                <p class="font-weight-bold mb-0">ماده 11:</p>
                                <p>
                                    مدير اجرايي مجله، پس از هماهنگي با سردبير، توسط مدير مسؤول مجله به هیات مدیره انجمن پيشنهاد ميشود. حكم مدير اجرايي مجله توسط ریاست انجمن صادر ميشود.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 12:</p>
                                <p>
                                    اعضاء هيأت تحريريه مجله با پيشنهاد سردبير و تأييد هيأت مديره انجمن بلورشناسی و کانی شناسی ايران از بين پژوهشگران و محققين برجسته فارغالتحصيل رشته های زمین شناسی، فیزیک، شیمی، مواد و معدن با حداقل مرتبه دانشياری و ترجيحاً از اعضاء دائم انجمن انتخاب و توسط رياست انجمن به مدت 4 سال منصوب ميشوند.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>
                                    تعداد اعضاء هيأت تحريريه حداقل 7 نفر و حداكثر 14 نفر ميباشدکه از اعضای هیات علمی دانشگاه های سراسر ایران انتخاب می شوند.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 2:</p>
                                <p>
                                    سردبير مي تواند عضو هيأت تحريريه باشد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 3:</p>
                                <p>
                                    عضويت در هيأت تحريريه افتخاري است و اعضاء حق هيچگونه استفاده از نام مجله را در تبليغات سياسي ندارند.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 4:</p>
                                <p>
                                    تشكيل جلسات اعضاء هيأت تحريريه مجله به دو صورت حضوري و مجازي (به صورت ويديو كنفرانس يا ارتباط اينترنتي) امكانپذير است. حضور اعضاء در جلساتي كه به دعوت سردبير تشكيل ميشود، الزامي است.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 5:</p>
                                <p>
                                    تأييد الكترونيكي مصوبات جلسات هيأت تحريريه قابل قبول است. روش تأييد و صحت امضاء الكترونيكي مصوبات هيأت تحريريه توسط هيأت تحريريه مجله تعيين ميشود.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 6:</p>
                                <p>
                                    انتصاب مجدد اعضاء هيأت تحريريه مجله بلامانع است.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 13:</p>
                                <p>
                                    انجمن به پيشنهاد هيأت تحريريه، ميتواند به عضويت هر يك از اعضاي هيأت تحريريه مجله به يكي از دلايل زير خاتمه دهد:
                                </p>
                                <p>
                                    الف) استفاده از نام مجله در تبليغات سياسي
                                </p>
                                <p>
                                    ب) فاش نمودن محتواي محرمانه جلسات هيأت تحريريه مانند افشاي نام داوران مقالات به نويسندگان آنها
                                </p>
                                <p>
                                    ج) عدم حضور در سه جلسه متوالي يا پنج جلسه متناوب
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>
                                    فرصتهاي مطالعاتي يا مسافرتهاي كوتاه مدت موجب بركناري عضو نخواهد شد. در فرصتهاي مطالعاتي طولاني مدت (حداكثر يك سال) عضو ميتواند به روش مجازي در جلسات حضور يابد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 2:</p>
                                <p>
                                    خاتمه عضويت اعضاء هيأت تحريريه مجله نبايد در نشريات خبري اعلام گردد و فقط نام وی از فهرست هيأت تحريريه مجله حذف ميشود.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 14:</p>
                                <p>
                                    سردبير ميتواند به منظور ارتقاء کيفيت مجله از افراد برجسته در رشته های مرتبط با بلورشناسی و کانی شناسی و متناسب با مقالات ارسالي به عنوان مشاور استفاده نمايد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>
                                    انتخاب مشاوران به پيشنهاد سردبير و تأييد هيأت تحريريه مجله است.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 2:</p>
                                <p>
                                    هيچ محدوديتي در تعداد اعضاء مشاوران مجله وجود ندارد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 3:</p>
                                <p>
                                    مكاتبات با اعضاء هيأت تحريريه، مشاوران، داوران و نويسندگان مقالات، به صورت الكترونيكي قابل قبول است. روش تأييد و صحت مكاتبات الكترونيكي توسط هيأت تحريريه مجله تعيين ميشود.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 15:</p>
                                <p>
                                    جلسات هيأت تحريريه به صورت حضوري يا مجازي، با دعوت سردبير تشكيل ميشود.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>
                                    آراء اعضاي جلسات، حضوري يا مجازي محرمانه است.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 2:</p>
                                <p>
                                    جلسات هيأت تحريريه با حضور اكثريت نسبي (نصف يا بيشتر) اعضاء رسميت مييابد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 3:</p>
                                <p>
                                    تصميمات هيأت تحريريه با اكثريت نسبي كل اعضاء لازم الاجرا است.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 4:</p>
                                <p>
                                    چنانچه هيأت تحريريه قادر به جمعبندي نظرات داوران نباشد، مقاله به داور ديگر ارسال ميگردد و پس از دريافت جواب، مجدداً نظرات داوران در هيأت تحريريه مطرح و تصميمگيري ميشود.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 16:</p>
                                <p>
                                    كليه مقالهها پس از انجام مراحل داوري و در صورت تأييد پس از ویرایش منتشر ميشود. نام داوران محرمانه خواهد ماند.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 17:</p>
                                <p>
                                    پس از تشكيل هر جلسه هيأت تحريريه، تصميمات به صورت زير اعلام ميگردد.
                                </p>
                                <p>
                                    الف) مقالات قبول شده توسط سردبير به نويسنده طرف مكاتبه اعلام ميگردد.
                                </p>
                                <p>
                                    ب) مقالاتي كه احتياج به بازنويسي دارند، موارد اشكال بر اساس نظرات داوران، بدون مشخص شدن نام داوران، تعيين شده و كتباً توسط سردبير يا مدير اجرايي به نويسنده اعلام ميگردد. در صورت تمايل نويسنده بايد حداكثر ظرف مدت دو ماه مقاله را اصلاح و جهت بررسي نهايي عودت دهد.
                                </p>
                                <p>
                                    ج) اگر مقاله رد شده باشد، در صورت درخواست مؤلف نظر داوران بدون مشخص شدن نام آنان، كتباً توسط سردبير به نويسنده اعلام گردد.
                                </p>
                                <p>
                                    د) كليه مقالات مصوب براي يك جلد در اختيار سردبير قرار ميگيرد وي آنها را جهت اصلاح نهايي و بازبيني به نويسنده طرف مكاتبه ارسال مينمايد. نويسنده هر مقاله موظف است ظرف دو هفته مقاله را تصحيح و عودت دهد.
                                </p>
                                <p>
                                    ه) مقاله آمادهي چاپ جهت تأييد نهايي نويسنده به وي ارسال ميگردد. نويسنده طرف مكاتبه موظف است در مدت يك هفته، نظر نهايي خود را به دفتر مجله اعلام دارد.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 18:</p>
                                <p>
                                    یک جلد کامل از چاپ كاغذي شمارهاي كه مقاله در آن چاپ شده است بهمراه سه نسخه اضافی از اصل مقاله چاپ شده، رايگان براي نويسنده طرف مكاتبه مقاله ارسال ميگردد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>
                                    یک جلد کامل از چاپ كاغذي شمارهاي كه مقاله در آن چاپ شده است برای هر یک از نويسندگان مقاله به صورت رایگان ارسال ميگردد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 2:</p>
                                <p>
                                    به نويسندگان مقالات هيچگونه حقالتأليفي پرداخت نميگردد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 3:</p>
                                <p>
                                    ابلاغ پذيرش نهايي مقاله به نويسنده، منوط به واگذاري حقوق چاپ مقاله به مجله توسط نويسنده طرف مكاتبه مي‌باشد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 4:</p>
                                <p>
                                    مؤلف موظف است 30% هزينه ویرایش و آماده سازی مقاله خود را به حساب انجمن واريز نمايد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 5:</p>
                                <p>
                                    فرمهاي مربوط، توسط هيأت تحريريه مجله تدوين ميشود. فرمها در پايگاه وب مجله قرار ميگيرد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 6:</p>
                                <p>
                                    كليه امور چاپ و توزيع با هماهنگي مدير مسؤول انجام ميگيرد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 7:</p>
                                <p>
                                    جلدهای مجله به دو صورت الكترونيكي و كاغذي چاپ ميشود، چاپ الكترونيكي مجله به صورت رايگان از طريق وبگاه مجله در اختيار عموم قرار داده ميشود.
                                </p>
                            </div>
                            <div class="feature tab-pane col-sm-12 col-md-12" id="tab4">
                                <h4 class="text-primary">فصل چهارم: امور مالي</h4>
                                <p class="font-weight-bold mb-0">ماده 19:</p>
                                <p>
                                    كليه هزينههاي آماده سازی مجله از قبيل ویرایش، صفحه آرایی، چاپ و ... به عهده انجمن است.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>
                                    براي انجام هزينههاي ضروري مجله، تنخواهي از طرف انجمن در اختيار دفتر مجله قرار مي‌گيرد.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 20:</p>
                                <p>
                                    كليه منافع حاصل از فروش مجله به حساب انجمن واريز ميشود.
                                </p>
                            </div>
                            <div class="feature tab-pane col-sm-12 col-md-12" id="tab5">
                                <h4 class="text-primary">فصل پنجم: محل دفتر مجله</h4>
                                <p class="font-weight-bold mb-0">ماده 21:</p>
                                <p>
                                    محل دفتر مجله بلورشناسی و کانی شناسی ایران دانشگاه فردوسی مشهد است.
                                </p>
                            </div>
                            <div class="feature tab-pane col-sm-12 col-md-12" id="tab6">
                                <h4 class="text-primary">فصل ششم: تغيير آيين نامه</h4>
                                <p class="font-weight-bold mb-0">ماده 22:</p>
                                <p>
                                    هرگونه تغيير در اين آييننامه با تصويب هيأت تحريريه و تأييد هیات مدیره انجمن انجامپذير ميباشد.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 23:</p>
                                <p>
                                    مدير مسؤول و سردبير مجله آقای دکتر ناصر تجبر تعيين ميگردد.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 24:</p>
                                <p>
                                    اين آييننامه در شش فصل و 24 ماده به تصويب شوراي هيأت تحريريه مجله « بلورشناسی و کانی شناسی ایران» و انجمن بلورشناسی و کانی شناسی ایران رسيد.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@