@Html.Action("DynamicPage", "Home", new { id = 42 })
@*<div id="content" class="animated fadeIn animation-delay-7">
    <div class="container">
        <h3 class="title-divider"><span>درباره نشریه</span></h3>
        <div class="bg-teal  container-fluid">
            <div class="row">
                <div class="col-lg-6 py-4 divider-arrow divider-teal my-auto" ng-controller="translateCtrl" ng-class="{'divider-arrow-l ': isActive('fa'),'divider-arrow-r': isActive('en')}">
                    <h4 class="text-grey my-0 text-center">
                        مجلة ‌بلورشناسي‌ و كاني‌شناسي‌ ايران
                    </h4>
                </div>
                <div class="col-lg-6 bg-light p-4">
                    <p>
                        مجله‌ بلورشناسي‌ و كاني‌شناسي‌ ايران‌ نشرية‌ تخصصي‌ انجمن‌ بلورشناسي‌ و كاني‌شناسي ‌ايران‌ است‌ كه‌ به‌ منظور ارائة‌ دستاوردهاي‌ تازة‌ علمي‌ و پژوهشي‌ چهار شماره‌ در سال‌ منتشر مي‌شود.
                    </p>
                    <p>
                        مجله‌ از همكاري‌ پژوهشگران‌ در گرايش هاي‌ مختلف‌ علوم‌ بلورشناسي‌ و كاني‌شناسي‌ به‌ گرمي‌ استقبال‌ مي‌كند. اميد است‌ با بسط‌ پژوهش‌ در اين‌ دو شاخه‌ از علوم ‌پايه‌، بتوانيم‌ هر شماره را پر بار تر از شماره قبل منتشر نماييم‌.
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="bg-teal container-fluid mb-4">
            <div class="row">
                <div class="col-lg-6 bg-light px-4 py-6">
                    <p>
                        بنابر موافقت‌ كميسيون‌ بررسي‌ نشريات‌ علمي‌ كشور اين‌ مجله‌ داراي‌ درجة‌ علمي‌- پژوهشي‌ است‌ و در ISC نمايه مي شود.
                    </p>
                </div>
                <div class="col-lg-6 py-4 divider-arrow  divider-teal my-auto" ng-controller="translateCtrl" ng-class="{'divider-arrow-r': isActive('fa'),'divider-arrow-l': isActive('en')}">
                    <h4 class="text-grey my-0 text-center">
                        جايگاه‌ مجلة‌ بلورشناسي‌ و كاني‌شناسي‌ ايران
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>*@