@Html.Action("DynamicPage", "Home", new { id = 41 })
@*<div id="content animated fadeIn animation-delay-7">
    <div class="container">
        <h3 class="title-divider"><span>لیست داوران</span></h3>
        <table class="table table-striped">
            <thead>
                <tr class="bg-success text-white">
                    <th>#</th>
                    <th>سمت</th>
                    <th>نام و نام خانوادگي</th>
                    <th>رتبه علمي</th>
                    <th>پست الکترونيکي</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>انجمن‌ بلـورشنـاسي‌ و كـاني‌شنـاسي‌ ايران</td>
                    <td>انجمن‌ بلـورشنـاسي‌ و كـاني‌شنـاسي‌ ايران</td>
                    <td>انجمن‌ بلـورشنـاسي‌ و كـاني‌شنـاسي‌ ايران</td>
                    <td>انجمن‌ بلـورشنـاسي‌ و كـاني‌شنـاسي‌ ايران</td>
                </tr>
        </table>
    </div>
</div>*@