@Html.Action("DynamicPage", "Home", new { id = 23 })
@*@<div id="content">
        <div class="container">
            <div class="row">
                <!-- Secondary features -->
                <div class="col-md-12">
                    <h3 class="title-divider">
                        <span>اساسنامه انجمن</span>
                    </h3>
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <ul class="nav nav-tabs nav-stacked nav-tabs-bold">
                                <li class="nav-item">
                                    <a data-target="#tab1" class="nav-link active" data-toggle="tab">
                                        <h5>فصل اول</h5>
                                        <small>كليات و اهداف</small>
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#tab2" class="nav-link" data-toggle="tab">
                                        <h5>فصل دوم</h5>
                                        <small>وظائف و فعاليت ها</small>
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#tab3" class="nav-link" data-toggle="tab">
                                        <h5>فصل سوم</h5>
                                        <small>انواع و شرايط عضويت</small>
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#tab4" class="nav-link" data-toggle="tab">
                                        <h5>فصل چهارم</h5>
                                        <small>اركان انجمن</small>
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#tab5" class="nav-link" data-toggle="tab">
                                        <h5>فصل پنجم</h5>
                                        <small>گروه هاي علمي انجمن</small>
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-target="#tab6" class="nav-link" data-toggle="tab">
                                        <h5>فصل ششم</h5>
                                        <small>بودجه و مواد متفرقه</small>
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content col-sm-9 col-md-9">
                            <div class="feature tab-pane active col-sm-12 col-md-12" id="tab1">

                                <h4 class="text-primary">فصل اول - كليات و اهداف</h4>
                                <p class="font-weight-bold mb-0">ماده1:</p>
                                <p>
                                    به منظور گسترش و پيشبرد و ارتقاي علم
                                    بلورشناسي و كاني شناسي و توسعه كيفي نيروهاي متخصص و بهبود بخشيدن به امور آموزشي
                                    و پژوهشي در زمينه هاي رشته هاي مرتبط، انجمن بلورشناسي و كاني شناسي ايران كه از اين
                                    پس در اين اساسنامه انجمن ناميده مي شود، تشكيل مي گردد.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 2:</p>
                                <p>
                                    انجمن موسسه اي غيرانتفاعي است و در
                                    زمينه هاي علمي و پژوهشي و فني فعاليت مي كند و از تاريخ ثبت داراي شخصيت حقوقي است
                                    و رييس هيئت مديره آن نماينده قانوني انجمن مي باشد.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 3:</p>
                                <p>
                                    مركز انجمن در شهر تهران مي باشد و
                                    شعب آن پس از موافقت كميسيون انجمن هاي علمي مي تواند در هر منطقه از كشور تشكيل شود.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره:</p>
                                <p>
                                    هيئت مديره مي تواند در صورت لزوم نسبت
                                    به تغيير نشاني مركز اصلي انجمن اقدام كند به شرط آنكه موضوع در روزنامه رسمي كثيرالانتشار
                                    اعلام شود وكتباً به اطلاع كميسيون انجمن هاي علمي وزارت علوم، تحقيقات و فناوري برسد.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 4:</p>
                                <p>
                                    انجمن از تاريخ تصويب اين اساسنامه
                                    براي مدت نامحدود تشكيل مي شود و ملزم به رعايت قوانين جمهوري اسلامي ايران است.
                                </p>
                            </div>
                            <div class="feature tab-pane col-sm-12 col-md-12" id="tab2">
                                <h4 class="text-primary">فصل دوم - وظائف و فعاليت ها</h4>
                                <p class="font-weight-bold mb-0">ماده 5:</p>
                                <p>به منظور نيل به هدف هاي مذكور در ماده (1) اين اساسنامه، انجمن اقدامات زير را بعمل خواهد آورد:
                                </p>
                                <p>5-1: انجام تحقيقات علمي و فرهنگي در سطح ملي و بين المللي با محققان و متخصصاني كه به گونه اي با علم بلورشناسي و كاني شناسي سروكار دارند.
                                </p>
                                <p>5-2: همكاري با نهادهاي اجرايي، علمي و پژوهشي در زمينه ارزيابي و بازنگري و اجراي طرح ها و برنامه هاي مربوط به امور آموزش و پژوهش در زمينه علمي موضوع فعاليت انجمن.
                                </p>
                                <p>5-3: ترغيب و تشويق پژوهشگران و تجليل از محققان و استادان ممتاز.
                                </p>
                                <p>5-4: ارائه خدمات آموزشي و پژوهشي و فني.
                                </p>
                                <p>5-5: برگزاري گردهمايي علمي در سطح ملي، منطقه اي و بين الملل
                                </p>
                                <p>5-6: انتشار كتب و نشريات علمي.
                                </p>
                            </div>
                            <div class="feature tab-pane col-sm-12 col-md-12" id="tab3">
                                <h4 class="text-primary">فصل سوم - انواع و شرايط عضويت</h4>
                                <p class="font-weight-bold mb-0">6-1: عضويت پيوسته</p>
                                <p>موسسان انجمن و كليه افرادي كه حداقل داراي درجه كارشناسي ارشد در رشته هاي فيزيك - شيمي - زمين شناسي – معدن - مواد و رشته هاي وابسته باشند، مي توانند به عضويت پيوسته درآيند.
                                </p>
                                <p class="font-weight-bold mb-0">6-2: عضويت وابسته</p>
                                <p>
                                    اشخاصي كه داراي درجه كارشناسي هستند و مدت 5 سال به نحوي در يكي از رشته هاي مذكور در بند  6-3 شاغل باشند.
                                </p>
                                <p class="font-weight-bold mb-0">6-3: عضويت دانشجويي</p>
                                <p>كليه دانشجوياني كه در رشته هاي فيزيك – شيمي- زمين شناسي- معدن-منابع طبيعي- مواد- دندانپزشكي-داروسازي به تحصيل اشتغال دارند.
                                </p>
                                <p class="font-weight-bold mb-0">6-4: عضويت افتخاري</p>
                                <p>شخصيت هاي ايراني و خارجي كه مقام علمي آنان در زمينه هاي علم بلورشناسي و كاني شناسي حائز اهميت خاص باشد، يا در پيشبرد اهداف انجمن كمك هاي موثر و ارزنده اي نموده باشند.:
                                </p>
                                <p class="font-weight-bold mb-0">6-5: اعضاي موسساتي (حقوقي)</p>
                                <p>سازمانهايي كه در زمينه هاي علمي و پژوهشي مربوط فعاليت دارند مي توانند به عضويت انجمن درآيند.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره1:</p>
                                <p>افراد داراي درجه كارشناسي در يكي از رشته هاي مذكور در بند  6-1 مي توانند با تصويب هيئت مديره به عضويت پيوسته انجمن در آيند.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره2:</p>
                                <p>اعضاي موسساتي به مثابه عضو وابسته انجمن محسوب مي شوند.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 7:</p>
                                <p>هر يكي از اعضاء سالانه مبلغي را كه ميزان آن توسط مجمع عمومي تعيين مي گردد به عنوان حق عضويت پرداخت خواهد كرد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>پرداخت حق عضويت هيچ گونه حق و ادعايي نسبت به دارايي انجمن براي عضو ايجاد نمي كند.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 2:</p>
                                <p>اعضاي افتخاري انجمن از پرداخت حق عضويت معاف هستند.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 8:</p>
                                <p>عضويت در يكي از موارد زير خاتمه مي يابد.
                                </p>
                                <p>8-1: استعفاي كتبي
                                </p>
                                <p>8-2: عدم پرداخت حق عضويت سالانه
                                </p>
                                <p class="font-weight-bold mb-0">تبصره:</p>
                                <p>تائيد خاتمه عضويت با هيئت مديره است.
                                </p>
                            </div>
                            <div class="feature tab-pane col-sm-12 col-md-12" id="tab4">
                                <h4 class="text-primary">فصل چهارم - اركان انجمن</h4>
                                <p class="font-weight-bold mb-0">ماده 9:</p>
                                <p>اركان اصلي عبارتند از
                                </p>
                                <p class="font-weight-bold mb-0">الف: مجمع عمومي</p>
                                <p class="font-weight-bold mb-0">ب: هيئت مديره</p>
                                <p class="font-weight-bold mb-0">ج: بازرس</p>
                                <p class="font-weight-bold mb-0">ماده 10:</p>
                                <p>مجمع عمومي از گردهمايي اعضاي پيوسته به صورت عادي يا فوق العاده تشكيل مي شود.
                                </p>
                                <p>10-1: مجمع عمومي عادي سالي يك بار تشكيل مي شود و با حضور يا راي كتبي نصف به علاوه يك كل اعضاي پيوسته انجمن رسميت مي يابد و تصميمات با اكثریت آرا معتبر است..
                                </p>
                                <p>10-2: مجمع عمومی فوق العاده در مورد ضروری با دعوت هیئت مدیره یا بازرس (بازرسان) و یا با تقاضای کتبی یک سوم اعضای پیوسته تشکیل می شود.
                                </p>
                                <p>10-3: در صورتی که جلسه مجمع عمومی رسمیت نیافت آرا به صورت مکاتبه ای - براساس آیین نامه ای که توسط هیئت مدیره تدوین می شود - اخذ خواهد شد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 1:</p>
                                <p>دعوت برای تشکیل مجامع عمومی به صورت کتبی یا آگهی در روزنامه کثیرالانتشار است و باید حداقل پانزده روز قبل از تشکیل مجمع به اطلاع اعضای پیوسته برسد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 2:</p>
                                <p>یک سوم اعضای پیوسته می توانند مستقیما اقدام به دعوت برای تشکیل مجمع عمومی فوق العاده نمایند مشروط بر اینکه هیئت مدیره و نیز بازرس انجمن به تقاضای ایشان پاسخ منفی داده باشد و در چنین حالتی، ایشان باید در آگهی دعوت به عدم اجابت درخواست خود، توسط هیئت مدیره یا بازرس تصریح نمایند.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 3:</p>
                                <p>در صورت تحقق تبصره فوق دستور جلسه عمومی منحصرا موضوعی خواهد بود که در تقاضانامه ذکر شده است..
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 4:</p>
                                <p>شرایط تشکیل مجمع عمومی فوق العاده همانند شرایط تشکیل مجمع عمومی عادی است و تصمیمات با دو سوم آراء معتبر است.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 11:</p>
                                <p>وظايف مجامع عمومي
                                </p>
                                <p class="font-weight-bold mb-0">الف - مجامع عمومی عادی</p>
                                <p>- انتخاب اعضاي هيئت مديره و بازرس (بازرسان در صورت وجود بيش از يك بازرس اصلي)
                                </p>
                                <p>- تصويب خط مشي انجمن</p>
                                <p>- بررسي و تصويب پيشنهادات هيئت مديره و بازرس (بازرسان)</p>
                                <p>- تعيين ميزان حق عضويت</p>
                                <p>- عزل هيئت مديره و بازرس (بازرسان)</p>
                                <p>- بررسي و تصويب ترازنامه و صورتحساب درآمدها و هزينه هاي سال مالي گذشته و بودجه سال آتي انجمن</p>
                                <p class="font-weight-bold mb-0">ب - مجمع عمومي فوق العاده</p>
                                <p>- تصويب تغييرات در مفاد اساسنامه
                                </p>
                                <p>- تصويب انحلال انجمن</p>
                                <p class="font-weight-bold mb-0">تبصره1:</p>
                                <p>مجامع عمومي توسط هيئت رئيسه اي مركب از يك رييس، يك منشي و دو ناظر اداره مي شوند.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 2:</p>
                                <p>اعضاي هيئت رييسه با اعلام و پذيرش نامزدي خود در مجمع انتخاب مي شوند.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره 3:</p>
                                <p>اعضاي هيئت رييسه نبايد از بين كساني باشند كه خود را در انتخابات هيئت مديره و بازرس كانديدا کرده اند.
                                </p>
                                <p class="font-weight-bold mb-0">پ - هيئت مديره</p>
                                <p class="font-weight-bold mb-0">ماده12:</p>
                                <p>هيئت مديره انجمن مركب از پنج عضو اصلي و دو عضو علي البدل است. كه هر سه سال يكبار با راي مخفي از ميان اعضاي پيوسته انجمن انتخاب مي شوند.
                                </p>
                                <p>12-1: هيچيك از اعضا نمي توانند بيش از دو دوره متوالي به عضويت هيئت مديره انتخاب شوند.
                                </p>
                                <p>12-2: عضويت در هيئت مديره افتخاري است.</p>
                                <p>12-3: هيئت مديره حداكثر تا پانزده روز پس از انتخاب شدن تشكيل جلسه داده و با راي كتبي نسبت به تفكيك وظائف خود اقدام مي نمايد.</p>
                                <p>12-4: كليه اسناد تعهد آور و اوراق بهادار با امضاي رييس يا نايب رييس و دبيرخزانه دار همراه با مهر انجمن و نامه هاي رسمي با امضاي رييس يا نايب رييس و دبير معتبر است.
                                </p>
                                <p>12-5: هيئت مديره موظف است بر حسب نياز هر يك ماه يكبار تشكيل جلسه دهد. فاصله بين ارسال دعوتنامه يا تلفن با تاريخ تشكيل جلسه هيئت مديره حداقل سه روز است.
                                </p>
                                <p>12-6: جلسات هيئت مديره با حضور اكثريت اعضا رسميت مي يابد و تصميمات متخذه با اكثريت آراي موافق، معتبر است.
                                </p>
                                <p>12-7: كليه مصوبات هيئت مديره ثبت و پس از امضاي اعضا در دفتر صورتجلسات هيئت مديره نگهداري مي شود.
                                </p>
                                <p>12-8: شركت اعضاي هيئت مديره در جلسات ضروري است و غيبت هر يك از اعضا بدون عذر موجه به تشخيص هيئت مديره تا سه جلسه متوالي و پنج جاسه متناوب در حكم استعفاي عضو غايب خواهد بود.
                                </p>
                                <p>12-9: در صورت استعفا، بركناري يا فوت هر يك از اعضاي هيئت مديره عضو علي البدل براي مدت باقيمانده دوره عضويت به جانشيني وي تعيين خواهد شد.
                                </p>
                                <p>12-10: شركت بازرس (بازرسان) در جلسات هيئت مديره بدون داشتن حق راي مجاز است.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 13:</p>
                                <p>هيئت مديره نماينده قانوني انجمن مي باشد و وظايف اختيارات آن به شرح زير است.
                                </p>
                                <p>13-1: اداره امور جاري انجمن طبق اساسنامه و مصوبات مجمع عمومي
                                </p>
                                <p>13-2: تشكيل گروه هاي علمي انجمن، تعيين وظايف و نظارت بر فعاليت آن ها
                                </p>
                                <p>13-3: هيئت مديره مي تواند هر اقدام و معامله اي را كه ضروري بداند در مورد نقل انتقال اموال غير منقول و تبديل به احست يا ترهين و فك رهن و استقراض به استثناي واگذاري قطعي اموال غير منقول كه مستلزم تصويب مجمع عمومي است انجام مي دهد.
                                </p>
                                <p>13-4: جز درباره موضوعاتي كه به موجب مفاد اساسنامه اخذ تصميم و اقدام درباره آن ها در صلاحيت خاص مجامع عمومي است، هيئت مديره كليه اختيارات لازم براي اداره امور را مشروط به رعايت حدود موضوع فعاليت انجام دارا مي باشد.
                                </p>
                                <p>13-5: تهيه گزارش سالانه و تنظيم ترازنامه مالي و صورتجلسات درآمدها و هزينه-هاي انجمن براي تصويب در مجمع عمومي و ارائه به مرجع نظارت در موقع مقرر.
                                </p>
                                <p>13-6: اقامه دعوي و پاسخگويي به دعاوي اشخاص حقيقي يا حقوقي در تمام مراجع و مراحل دادرسي با حق تعيين وكيل و حق توكيل به غير.
                                </p>
                                <p>13-7: انتخاب و معرفي نمايندگان انجمن براي شركت در مجامع علمي داخلي و خارجي
                                </p>
                                <p>13-8: اجراي طرح ها و برنامه هاي علمي در چارچوب وظايف انجمن
                                </p>
                                <p>13-9: جلب هدايا و كمكهاي مالي
                                </p>
                                <p>13-10: اهداي بورس هاي تحقيقاتي و آموزشي
                                </p>
                                <p>13-11: اتخاذ تصميم در مورد عضويت انجمن در مجامع علمي و داخلي و خارجي با رعايت قوانين و مقررات جاري كشور.
                                </p>
                                <p>13-12: ارسال گزارش هاي لازم به كميسيون انجمن هاي علمي وزارت علوم، تحقيقات و فناوري
                                </p>
                                <p>13-13: هيئت مديره موظف است ظرف حداكثر 4 ماه پيش از پايان دوره تصدي خود نسبت به فراخواني مجمع عمومي و انتخاب هيئت مديره جديد اقدام و بلافاصله نتايج را همراه با صورتجلسه مجمع عمومي براي بررسي به كميسيون انجمن هاي علمي ارسال نمايد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره:</p>
                                <p>هيئت مديره پيشين تا تاييد هيئت مديره جديد از سوي كميسيون انجمن-هاي علمي وزارت علوم، تحقيقات و فناوري و مسئوليت امور انجمن را بر عهده خواهد شد.
                                </p>
                                <p class="font-weight-bold mb-0">ج- بازرس (بازرسان)</p>
                                <p>ماده 14: مجمع عمومي عادي يك نفر را به عنوان بازرس اصلي و و يك نفر را به عنوان علي البدل براي مدت يكسال انتخاب مي نمايد.
                                </p>
                                <p class="font-weight-bold mb-0">تبصره:</p>
                                <p>انتخاب مجدد بازرس يا بازرسان بلامانع است.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 15:</p>
                                <p>وظائف بازرس يا بازرسان به شرح زير است.
                                </p>
                                <p>15-1: بررسي اسناد و دفاتر مالي انجمن و تهيه گزارش براي مجمع عمومي
                                </p>
                                <p>15-2: بررسي گزارش سالانه هيئت مديره و تهيه گزارش از عملكرد انجمن براي اطلاع مجمع عمومي
                                </p>
                                <p>15-3: گزارش هر گونه تخلف هيئت مديره از مفاد اساسنامه به مجمع عمومي
                                </p>
                                <p class="font-weight-bold mb-0">تبصره:</p>
                                <p>كليه اسناد و مدارك انجمن اعم از مالي و غير مالي را در هر زمان و بدون قيد و شرط بايد از سوي هيئت مديره براي بررسي در دسترس بازرس (بازرسان) قرار گيرد.
                                </p>
                            </div>
                            <div class="feature tab-pane col-sm-12 col-md-12" id="tab5">
                                <h4 class="text-primary">فصل پنجم - گروه هاي علمي انجمن</h4>
                                <p class="font-weight-bold mb-0">ماده 16:</p>
                                <p>انجمن مي تواند گروه ها و كميته هاي زير را تشكيل دهد كه براساس شرح وظائفي كه از سوي هيئت مديره براي آنها تعيين شود به فعاليت مي پردازند.
                                </p>
                                <p>1) گروه هاي تخصصي</p>
                                <p>2) كميته آموزش و پژوهش</p>
                                <p>3) كميته انتشارات</p>
                                <p>4) كميته آمار و اطلاعات</p>
                                <p>5) كميته پذيرش و روابط عمومي</p>
                                <p>6) كميته گردهمايي هاي علمي</p>
                                <p>16-1: انجمن مجاز به تشكيل گروه ها و كميته هاي ديگري كه بر حسب نياز احساس مي شود، نيز مي باشد.</p>
                            </div>
                            <div class="feature tab-pane col-sm-12 col-md-12" id="tab6">
                                <h4 class="text-primary">فصل ششم - بودجه و مواد متفرقه</h4>
                                <p class="font-weight-bold mb-0">ماده 17:</p>
                                <p>
                                    منابع مالي انجمن عبارتند از:
                                </p>
                                <p>17-1: حق عضويت اعضا</p>
                                <p>17-2: درآمدهاي ناشي از ارائه خدمات آموزشي و پژوهشي و مشاوره اي و فروش كتب و نشريات علمي</p>
                                <p>17-3: دريافت هدايا و كمك ها</p>
                                <p>17-4: كليه عوايد و درآمدهاي انجمن صرف اهداف و موضوع ماده 5 اين اساسنامه خواهد شد.</p>
                                <p class="font-weight-bold mb-0">ماده 18:</p>
                                <p>درآمدها و هزينه هاي انجمن در دفاتر قانوني ثبت و شرح آن هر سال پس از تصويب در مجمع عمومي كميسيون انجمن هاي علمي وزارت علوم، تحقيقات و فناوري ارسال مي شود.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 19:</p>
                                <p>كليه وجوه انجمن در حساب مخصوصي به نام انجمن نزد بانك هاي كشور نگهداري مي شود.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 20:</p>
                                <p>هيچيك از موسسين يا صاحبان سرمايه حق برداشت يا تخصيص هيچ گونه سودي اعم از سود سهام يا سرمايه را نداشته و خود و وابستگان درجه يك آنها نمي توانند مبادرت به انجام معاملات با موسسه نمايند.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 21:</p>
                                <p>كليه مدارك و پرونده مالي و غير مالي مرتبط با فعاليت هاي انجمن در محل دفتر مركزي انجمن نگهداري مي شود و در موقع مراجعه مرجع نظارت و يا ساير مراجع صلاحيت دار در اختيار آنان قرار خواهد گرفت.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 22:</p>
                                <p>هر گونه تغيير در مفاد اساسنامه، پس از تصويب كميسيون انجمن هاي علمي وزارت علوم، تحقيقات و فناوري معتبر است.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 23:</p>
                                <p>انجمن تابعيت جمهوري اسلامي ايران را دارد و اعضاي آن به نام انجمن حق فعاليت سياسي يا وابستگي به گروه ها و احزاب سياسي را ندارند.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 24:</p>
                                <p>در صورت تصويب انحلال انجمن در مجمع عمومي، همان مجمع هيئت تسويه اي را برای پرداخت ديون و وصول مطالبات انجمن انتخاب خواهد كرد. هيئت تسويه موظف است پس از وصول مطالبات و پرداخت بدهي ها كليه داريي هاي منقول و غير منقول انجمن را با نظارت وزارت علوم، تحقيقات و فناوري به يكي از موسسات آموزشي يا پژوهشي كشور واگذار كند.
                                </p>
                                <p class="font-weight-bold mb-0">ماده 25:</p>
                                <p>اين اساسنامه مشتمل بر 6 فصل، 25 ماده، و 16 تبصره در جلسه مورخ 82/11/14 مجمع عمومي انجمن به تصويب رسيد.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>@*@