@Html.Action("DynamicPage", "Home", new { id = 22 })
@*@<div id="content">
        <div class="container" id="about">
            <h3 class="title-divider">
                <span>تاریخچه انجمن</span>
            </h3>
            <div class="timeline timeline-right">
                <div class="timeline-breaker">تاریخچه انجمن</div>
                <!--Timeline item 1-->
                <div class="timeline-item animated fadeIn de-02">
                    <i class="fa fa-bell-o fa-3x float-left"></i>
                    <div class="timeline-item-date">بهمن 1370</div>
                    <h5 class="timeline-item-title">
                        نخستين نشست عمومي علاقه مندان به تشکيل انجمن بلورشناسي و کاني شناسي
                    </h5>
                    <p class="timeline-item-description">
                        به دعوت هيأت مؤسس و با حضور نماينده وزارت کشور نخستين رأي گيري در سالن اجتماعات دانشگاه علم و صنعت ايران براي انتخاب هيأت مديره انجمن صورت گرفت و آقايان (مرحوم) دکتر سيد فضل الله انواري (عضو پژوهشگاه صنعت نفت) ، مهندس محمدعلي برقي (عضو هيات علمي دانشگاه تهران)، دکتر ناصر تجبر (عضو هيأت علمي دانشگاه فردوسي مشهد)، دکتر عباس طائب (عضو هيأت علمي دانشگاه علم و صنعت) و دکتر سيد مهدي علوي (عضو هيأت علمي دانشگاه اصفهان) برگزيده شدند.
                    </p>
                </div>
                <!--Timeline item 2 - NOTE: the .right class-->
                <div class="timeline-item right animated fadeIn de-02">
                    <i class="fa fa-gavel fa-3x float-left"></i>
                    <div class="timeline-item-date">1373/7/8</div>
                    <h5 class="timeline-item-title">
                        صدور و ابلاغ مجوز
                    </h5>
                    <p class="timeline-item-description">پس از تهيه اساسنامه انجمن، براي تأسيس و فعاليت قانوني انجمن، مجوز شماره 180/2-42/الف مورخ 1373/7/8 از طرف وزارت کشور صادر و ابلاغ شد.</p>
                </div>
                <!--Timeline item 3- - NOTE: .highlight class -->
                <div class="timeline-item right  animated fadeIn de-02">
                    <i class="fa fa-sitemap fa-3x float-left"></i>
                    <div class="timeline-item-date">1380/7/17</div>
                    <h5 class="timeline-item-title">
                        انجمن هاي علمي کشور در زير مجموعه کميسيون انجمن هاي علمي ايران
                    </h5>
                    <p class="timeline-item-description">براساس دستورالعمل وزارت علوم، تحقيقات و فناوري به شماره 3257/3 مقرر شده انجمن هاي علمي کشور در زير مجموعه کميسيون انجمن هاي علمي ايران که دبيرخانه آن در وزارت علوم، تحقيقات و فناوري حوزه معاونت پژوهشي قرار دارد فعاليت خود را ادامه دهند</p>
                </div>
                <!--Timeline item 4 - NOTE: the .right class-->
                <div class="timeline-item right animated fadeIn de-02">
                    <i class="fa fa-group fa-3x float-left"></i>
                    <div class="timeline-item-date">1382/11/15</div>
                    <h5 class="timeline-item-title">
                        انتخابات جديد هيأت مديره انجمن در دانشگاه يزد
                    </h5>
                    <p class="timeline-item-description">بر اساس دستورالعمل وزارت علوم، تحقيقات و فناوري در دانشگاه يزد انتخابات جديد هيأت مديره انجمن انجام گرفت و اين هيأت مجدداً اساسنامه جديدي که از سوي وزارت علوم، تحقيقات و فناوري مورد تأييد قرار گرفته بود تصويب و مراحل قانوني آن را در وزارت مذکور و اداره کل ثبت شرکت ها و مالکيت صنعتي پيگيري نمود. </p>
                </div>
                <!--Timeline item 5 - NOTE: the .right class-->
                <div class="timeline-item highlight animated fadeIn de-02">
                    <i class="fa fa-bullhorn fa-3x float-left"></i>
                    <div class="timeline-item-date">1383/5/10</div>
                    <h5 class="timeline-item-title">
                        ثبت انجمن بلورشناسي و کاني شناسي
                    </h5>
                    <p class="timeline-item-description">انجمن بلورشناسي و کاني شناسي ايران با شماره 16932 به ثبت رسيد و اساسنامه آن جهت اطلاع عموم در روزنامه رسمي کشور آگهي گرديد. </p>
                </div>
                <div class="timeline-marker timeline-marker-bottom"></div>
            </div>
        </div>
    </div>@*@