<update-title title="{{'SocietyCertificate' | translate}}"></update-title>
<update-meta property="og:title" content="{{'SocietyCertificate' | translate}}"></update-meta>
<update-meta name="description" content="{{'HeaderTitle'| translate}}-{{'SocietyCertificate' | translate}}"></update-meta>
<update-meta itemprop="description" content="{{'HeaderTitle'| translate}}-{{'SocietyCertificate' | translate}}"></update-meta>
<update-meta name="keywords" content="{{'HeaderTitle'| translate}},{{'SocietyCertificate' | translate}}"></update-meta>
<update-script content="structuredData" type="application/ld+json"></update-script>

<div id="content">
    <div class="container">
        <h3 class="title-divider">
            <span>شناسنامه انجمن</span>
        </h3>
        <div class="bg-faded  container-fluid mb-4">
            <div class="row">
                <div class="col-lg-5 overlay overlay-white overlay-op-3" data-bg-img="/assets/img/homes/iStock-636617236.jpg" data-css='{"background-position":"center right"}'></div>
                <div class="col-lg-6 pt-4 pl-lg-4 divider-arrow divider-arrow-r divider-faded">
                    <hr class="hr-lg mt-0 mb-2 w-10 mr-0 hr-primary" />
                    <h4 class="  text-uppercase mt-0 mb-3 font-weight-bold">
                        اطلاعات حقوقی
                    </h4>
                    @Html.Action("DynamicPageBlockUI", "Home", new { id = 21 })
                    @*@ <div class="form-group row">
                            <label class="col-sm-3 col-form-label">عنوان انگلیسی</label>
                            <label class="col-sm-9 col-form-label">Iranian Society of Crystallography & Mineralogy</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">عنوان فارسی</label>
                            <label class="col-sm-9 col-form-label">انجمن بلور شناسی و کانی شناسی ایران</label>
                        </div>
                        <div class="mt-3">
                            <hr class="mb-2 hr-grey " />
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">شناسنامه انجمن: ASO4</label>
                                <label class="col-sm-7 col-form-label">
                                    تاریخ دریافت پروانه تاسیس: 1373/8/7
                                </label>
                                <label class="col-sm-5 col-form-label">
                                    تاریخ ثبت: 1383/5/10
                                </label>
                                <label class="col-sm-7 col-form-label">
                                    شماره ثبت: 16932
                                </label>
                                <label class="col-sm-5 col-form-label">
                                    نوع انجمن: علوم پایه
                                </label>
                                <label class="col-sm-7 col-form-label">
                                    رتبه انجمن: B
                                </label>
                            </div>
                            <div class="mt-3">
                                <hr class="mb-2 hr-grey " />
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label">شهر محل فعالیت اصلی: مشهد و تهران</label>
                                </div>
                            </div>
                        </div>@*@
                </div>
            </div>
        </div>
        <div class="container p-4 text-center bg-faded mb-4">
            <h4 class="text-uppercase font-weight-bold ">
                اهداف و فعالیت ها
            </h4>
            <hr class="hr-lg hr-primary mt-3 mb-4 w-20 mx-auto" />
            <div class="row no-gutters">

                @Html.Action("DynamicPageBlockUI", "Home", new { id = 33 })

                @*@ <div class="col-md-6 text-right mb-5">
                        <div class="row no-gutters align-items-center">
                            <div class="col-3 text-center"><i class="fa fa-binoculars icon-3x text-primary"></i></div>
                            <div class="col-9">
                                <h5 class=" text-uppercase font-weight-bold">
                                    اهداف
                                </h5>
                                <p class="mb-0">
                                    -پیشبرد، گسترش و ارتقاء سطح علمی
                                    <br />
                                    -توسعه کیفی نیرو های متخصص
                                    <br />
                                    -بهبود بخشیدن به امور آموزشی و پژوهشی
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-right mb-5">
                        <div class="row no-gutters align-items-center">
                            <div class="col-3 text-center"><i class="fa fa-cogs icon-3x text-primary"></i></div>
                            <div class="col-9">
                                <h5 class=" text-uppercase font-weight-bold">
                                    فعالیت های جاری انجمن
                                </h5>
                                <p class="mb-0">

                                    -تشکیل همایش های سالانه
                                    <br />
                                    -انتشار 4 شماره مجله بلور شناسی و کانی شناسی ایران
                                    <br />
                                    -انتشار خبر نامه
                                </p>
                            </div>
                        </div>
                    </div>@*@
            </div>
        </div>
        <div class="container  p-4 text-center bg-faded mb-4">
            <h4 class="text-uppercase font-weight-bold">
                مدارک انجمن
            </h4>
            <hr class="hr-lg hr-primary mt-3 mb-4 w-20 mx-auto" />
            <div class="row " data-toggle="magnific-popup" data-magnific-popup-settings='{"delegate": "a.gallery-trigger", "gallery":{"enabled":true}}'>

                @Html.Action("DynamicPageBlockUI", "Home", new { id = 34 })

                @*@ <div class="col-4">
                        <div class="card-effect card-effect-front-to-back">
                            <img src="/assets/img/projects/bigmadrak1.jpg" data-src="/assets/img/projects/bigmadrak1.jpg" data-toggle="unveil" alt="Photo 1048" class="img-fluid" />
                            <div class="card-back rounded bg-inverse bg-op-8 flex-valign text-center p-3">
                                <a href="/assets/img/projects/bigmadrak1.jpg" class="text-white gallery-trigger"> <i class="ion-ios-search-strong icon-1x"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card-effect card-effect-front-to-back">
                            <img src="/assets/img/projects/bigmadrak2.jpg" data-src="/assets/img/projects/bigmadrak2.jpg" data-toggle="unveil" alt="Photo 1033" class="img-fluid" />
                            <div class="card-back rounded bg-inverse bg-op-8 flex-valign text-center p-3">
                                <a href="/assets/img/projects/bigmadrak2.jpg" class="text-white gallery-trigger"> <i class="ion-ios-search-strong icon-1x"></i> </a>
                            </div>
                        </div>
                    </div>@*@
            </div>
        </div>
    </div>
</div>
<!-- Gallery -->
