@Html.Action("DynamicPage", "Home", new { id = 36 })
    @*@<div id="content">
            <div class="container">
                <h3 class="title-divider">
                    <span>تعرفه های ثبت نام</span>
                </h3>
                <p>برای شرکت در بیست و پنجمین همایش ملی بلورشناسی و کانی شناسی، بسته های شرکت در همایش به صورت زیر در نظر گرفته شده است. پژوهشگران لازم است بر اساس وضعیت و شرایط خود، برای شرکت در این همایش یکی از بسته ها را انتخاب نمایند.</p>
                <div class="row">
                    <div id="join" class="pos-relative">
                        <div class="container">
                            <!-- Pricing stack -->
                            <div class="row pricing-stack mt-4">
                                <div class="col-md-3 d-flex">
                                    <div class="card bg-shadow text-center flex-ew">
                                        <h4 class="card-title py-3 text-shadow text-uppercase mt-3">
                                            اعضای انجمن
                                        </h4>
                                        <h3 class="price-banner border-grey card-body-overlap">
                                            <span class="pricing-monthly"><h3 class="price-digits mb-0">۱,۸۰۰,۰۰۰ </h3><span class="price-currency">ریال</span></span>
                                        </h3>
                                        <div class="card-body">
                                            <p class="text-sm">در صورت انتخاب این بسته، ارائه کارت عضویت در انجمن بلورشناسی و کانی شناسی ایران الزامی است. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 d-flex">
                                    <div class="card bg-white bg-shadow text-center flex-ew" id="pricing-pro">
                                        <h4 class="card-title py-3 text-shadow text-uppercase mt-3">
                                            دانشجویی
                                        </h4>
                                        <h3 class="price-banner border-grey card-body-overlap">
                                            <span class="pricing-monthly"> <h3 class="price-digits  mb-0">۱,۲۰۰,۰۰۰ </h3><span class="price-currency">ریال</span></span>
                                        </h3>
                                        <div class="card-body">
                                            <p class="text-sm">استفاده از این بسته مستلزم ارائه کارت دانشجویی معتبر می باشد. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 d-flex">
                                    <div class="card bg-white bg-shadow text-center flex-ew">
                                        <h4 class="card-title py-3 text-shadow text-uppercase mt-3">
                                            عادی
                                        </h4>
                                        <h3 class="price-banner border-grey card-body-overlap">
                                            <span class="pricing-monthly"><h3 class="price-digits  mb-0">۲,۵۰۰,۰۰۰ </h3><span class="price-currency">ریال</span> </span>
                                            <span class="pricing-yearly d-none"><span class="price-currency">$</span> <span class="price-digits">1799</span> <span class="price-term">/YEAR</span> </span>
                                        </h3>
                                        <div class="card-body">
                                            <p class="text-sm">این بسته مخصوص پژوهشگرانی است که عضو انجمن بلورشناسی و کانی شناسی ایران نیستند.(شرکت در همایش به صورت آزاد) </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 d-flex">
                                    <div class="card bg-white bg-shadow text-center flex-ew">
                                        <h4 class="card-title py-3 text-shadow text-uppercase mt-3">
                                            مقاله دوم یا بیشتر
                                        </h4>
                                        <h3 class="price-banner border-grey card-body-overlap">
                                            <span class="pricing-monthly"> <h3 class="price-digits  mb-0">۴۰۰,۰۰۰ </h3><span class="price-currency">ریال</span></span>
                                        </h3>
                                        <div class="card-body">
                                            <p class="text-sm">این بسته مخصوص پژوهشگرانی است که بیش از یک مقاله برای ارائه در همایش ارسال می کنند.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    *@